<div>
  <h2>
    <a href="http://societyofyoungnetworkscientists.com/" target="_blank"><i nz-icon nzType="link"
                                                                             nzTheme="outline"></i></a>
    The Society of Young Network Scientists
  </h2>
  <h3>What is the SYNS?</h3>
  <p>The SYNS is an organization designed to support early-career network scientists as they pursue research, to promote
    their work, and to shape the evolving field of network science.
  <h3>How do I get involved?</h3>
  <p>Stop by one of the SYNS events! Alternatively, feel free to contact the organizers (me) with questions, or to get
    added to our Slack.</p>
  <div style="height: 20px;"></div>
  <h2>
    <a href="https://syns-colorado.github.io/" target="_blank"><i nz-icon nzType="link" nzTheme="outline"></i></a>
    SYNS in Colorado!
    <i nz-icon>
      <img src="assets/img/Flag_of_Colorado.svg" height="18" alt="colorado-flag" style="margin-bottom: 6px;">
    </i>
  </h2>
  <p>With <a href="https://allisonmorgan.github.io/">Allie Morgan</a> and <a href="https://hneutr.github.io/">Hunter
    Wapman</a>, we launched our inaugural local meeting in October 2019.
    In our 2<sup>nd</sup> meeting (Feb. 2020), we were lucky to have five speakers,
    each from a distinct expertise (Mechanical Engineering, Computer Science, Applied Math, Environmental Science, ...),
    to give a 5-min short research talk. Attendees are from Boulder, Fort Collins, and Denver area.
    If you are in our neck of the woods, poke us and be added to our <a
      href="https://groups.google.com/forum/#!forum/syns-colorado">Google Group</a> and email list!
  </p>
  <div style="height: 20px;"></div>
  <h2>
    <a href="https://netscied.tw/" target="_blank"><i nz-icon nzType="link" nzTheme="outline"></i></a>
    台灣網絡科學教育 (Network Science Education in Taiwan)
  </h2>
  <p>
    這是一個公益專案，該網站收集和台灣有關的網絡數據、案例研究，也收集網絡的建模與分析的課程資料。希望讓網絡科學更親近實際生活。
  </p>

  <!--  <p></p>-->

  <!--  <div nz-row nzType="flex" nzJustify="start">-->
  <!--    <nz-divider nzType="vertical" nz-col nzSpan="2" style="height: 3.6em;"></nz-divider>-->
  <!--    <div nz-col nzSpan="22">-->
  <!--      <a href="http://societyofyoungnetworkscientists.com/">Society of Young Network Scientists (SYNS)</a>-->
  <!--      <span style="font-style: italic; color: #555555"> — Event officer</span><br>-->
  <!--      <a href="https://syns-colorado.github.io/">SYNS Colorado Chapter</a>-->
  <!--      <span style="font-style: italic; color: #555555"> — Organizer</span>-->
  <!--    </div>-->
  <!--  </div>-->

</div>
