

/* Misc icon button */
.misc-icon-button {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.misc-icon-button:hover span {
  color: #3077B0;
}

/* Custom icon button */
.misc-icon-button:hover {
  background-color: #3077B0; 
  border-radius: 10pt;
}

.misc-icon-button.active {
  background-color: #3077B0; 
  border-radius: 10pt;
}

.misc-icon-button span {
  font-size: 22px;
  color: #37373a;
  transition: color 0.3s ease;
}

.misc-icon-button:hover span,
.misc-icon-button.active span {
  color: white;
}

/* Underline effect for the button */
.misc-icon-button::after {
  content: '';
  display: block;
  width: 0;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.misc-icon-button:hover::after,
.misc-icon-button.active::after {
  width: 100%;
}