<div>
  <h2>The Society of Young Network Scientists</h2>
  <h3>What is the SYNS?</h3>
  <p>An organization designed to support early-career network scientists as they pursue research, to promote their work,
    and to shape the evolving field of network science.
    Please visit <a href="http://societyofyoungnetworkscientists.com/">the official website</a>.</p>
  <h3>How do I get involved?</h3>
  <p>Stop by one of the SYNS events! Alternatively, feel free to contact the organizers (me) with questions, or to get
    added
    to our email list.</p>
  <!--  <h3>Organizers</h3>-->
  <!--  <p></p>-->

  <!--  <div nz-row nzType="flex" nzJustify="start">-->
  <!--    <nz-divider nzType="vertical" nz-col nzSpan="2" style="height: 3.6em;"></nz-divider>-->
  <!--    <div nz-col nzSpan="22">-->
  <!--      <a href="http://societyofyoungnetworkscientists.com/">Society of Young Network Scientists (SYNS)</a>-->
  <!--      <span style="font-style: italic; color: #555555"> — Event officer</span><br>-->
  <!--      <a href="https://syns-colorado.github.io/">SYNS Colorado Chapter</a>-->
  <!--      <span style="font-style: italic; color: #555555"> — Organizer</span>-->
  <!--    </div>-->
  <!--  </div>-->

</div>
