<div class="container" id="talks">
  <div nz-row nzType="flex" nzJustify="space-between">
  </div>
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col nzSpan="24">
      <h2>Posters</h2>
    </div>
    <ol class="nocount">
      <li>
        <h4>Estimating the Number of Communities in a Bipartite Network</h4>
        Tzu-Chi Yen and Daniel B. Larremore
        <br>
        <i><a href="http://netsci2017.net/">NetSci2017</a></i>, Indianapolis, Indiana, June, 2017.
        <br>
        <nz-tag><a href="http://wiki.junipertcy.info/images/c/c4/Research-poster-170620-SINM.pdf">Poster</a>
        </nz-tag>
      </li>
      <li>
        <h4>Understanding Online Survey Data as a Bipartite Network: A Case Study on pol.is</h4>
        Tzu-Chi Yen
        <br>
        <i><a href="http://insna.org/sunbelt2017/">Sunbelt 2017</a></i>, Beijing, China, May, 2017.
      </li>
      <li>
        <h4>The First Social Customer Relationship Management System to Analyze Large On-line Social Networks</h4>
        Tzu-Chi Yen, Xiaodong Liu, and Wuyang (Tony) Zhao
        <br>
        <i><a href="http://netsci2016.net/">NetSci2016</a></i>, Seoul, South Korea, May, 2016.
        <br>
        <nz-tag><a href="https://mega.nz/#!Rk00VZaa!VlHQLBpje_QRpBjv5hR0IFm5BC0pV-Z1fufp4eguHj4">Poster
          (size: 123 MB)</a>
        </nz-tag>
      </li>
      <li>
        <h4>Dissecting Urban Noises from Heterogeneous Geo-Social Media and Sensor Data</h4>
        Hsun-Ping Hsieh, Tzu-Chi Yen, Rui Yan, and Cheng-Te Li
        <br>
        <i><a href="http://www.acmmm.org/2015/">ACM International Conference on Multimedia (MM'15)</a></i>, Brisbane,
        Australia, Oct. 2015.
        <br>
        <nz-tag><a href="http://wiki.junipertcy.info/images/e/e1/Research-poster-151028-acmmm.pdf">Poster</a>
        </nz-tag>
      </li>
    </ol>
    <div nz-col nzSpan="24" style="height: 20px;"></div>
  </div>
</div>
