<div class="container" id="teaching">

  <h2><a routerLink="/teaching"><i nz-icon nzType="left-square" nzTheme="fill"></i></a> CSCI 3308 Software Development Methods and Tools</h2>
  <p>
      Course on University Catelog: <a href="https://catalog.colorado.edu/search/?search=CSCI+3308" target="_blank">CSCI
    3308</a>.
  </p>
  <h3>Textbooks</h3>
  <p>
    TBD.
  </p>
  <h3>Ideas for future installments</h3>
  <p>
    On regular expression: <a href="https://mobile.twitter.com/HamelHusain/status/1494513203987902468?s=20" target="_blank">pythex</a>
    <br>
    On Git: <a href="https://twitter.com/allison_horst/status/1523744022421860352/photo/1" target="_blank">git buddies</a>
    <br>
    <a href="https://onlywei.github.io/explain-git-with-d3" target="_blank">Visualizing Git concepts with D3</a>
  </p>
  <h3>References</h3>
  <p>
    Other similar courses have been offered at ...
  </p>
</div>
