<nz-page-header-extra>
  <div class="header-content">
    <nav class="text-nav">
      <a routerLink="cu" routerLinkActive="active" [ngClass]="{ 'is-cu-active': isCUActive }">CU</a>
      <span class="separator">|</span>
      <a routerLink="tw" routerLinkActive="active">台灣</a>
      <span class="separator">|</span>
      <a routerLink="resources" routerLinkActive="active">Resources</a>
    </nav>
    <!-- <button 
      nz-button 
      nzNoAnimation 
      routerLink="resources"
      routerLinkActive="active"
      class="custom-icon-button"
    >
      <span nz-icon nzType="more" nzTheme="outline"></span>
    </button> -->
  </div>

</nz-page-header-extra>
<div style="height: 20pt;"></div>
<router-outlet></router-outlet>