#teaching {
    float: center;
    /*border-style: solid;*/
    border-width: thin;
    border-color: #000000;
    width: 700px;
    overflow: hidden;
}

div#teaching h2 {
    color: #026f4a;
    /*  font-family: Verdana, Arial, sans-serif;
      font-family: palatino, georgia, verdana, arial, sans-serif; */
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

div#teaching p {
    font-size: 14px;
    text-align: justify;
}

div#teaching ul {
    margin: 0 0 0 0;
    padding: 0 10px 0 20px;
}

div#teaching li {
    font-size: 14px;
    list-style-type: decimal;
    margin: 8px 0 0 0;
}

div#teaching li.indent {
    font-size: 12px;
    margin: 0 0 0 20px;
    list-style-type: circle;
}
