<div class="container" id="teaching">
  <div class="row">
    <h2>University of Colorado at Boulder</h2>
    <ol class="nocount">
      <li>
        <a href="https://catalog.colorado.edu/search/?search=CSCI+3308" style="font-weight: 500;">
          CSCI 3308: Software Development Methods and Tools (Fall'21)
        </a>
        <br>
        In the Fall, I will be one of the TAs for this class, taught by Sreesha Nath.
      </li>
      <li>
        <a href="https://catalog.colorado.edu/search/?search=CSCI+5822" style="font-weight: 500;">
          CSCI 5822: Probabilistic Models of Human and Machine Intelligence (Spring'21)
        </a>
        <br>
        In Spring 2021, I was the Teaching Assistant (TA) for this class, taught by <a
        href="https://rebeccaem.github.io/" target="_blank">Prof. Rebecca Morrison</a>.
      </li>
    </ol>
    <h2>National Cheng Kung University, Taiwan</h2>
    <ol class="nocount">
      <li>
        <a href="https://netscied.tw/stat1021" style="font-weight: 500;">
          STAT 1021: Introduction to Data Science (Spring'18 & '19)
        </a>
        <br>
        Invited by <a href="http://myweb.ncku.edu.tw/~chengte/index.html" target="_blank">Prof. Cheng-Te Li</a>,
        I offered a 6-hour lecture series to college freshmen on software engineering skills applied to network data.
      </li>
    </ol>
  </div>
  <nz-divider></nz-divider>
  <div class="row">
    <h2>Resources</h2>
    <ol class="nocount">
      <li>
        <a href="http://www.math.ucsd.edu/~fan/teach/gradpol.html" style="font-weight: 500;">
          A few words on research for graduate students</a> by Fan Chung.
      </li>
    </ol>
  </div>
</div>
