#teaching {
  /*border-style: solid;*/
  border-width: thin;
  border-color: #000000;
  overflow: hidden;
}

h2 {
  color: rgba(0, 0, 0, 0.85);
  font-family: "enigmaticregular", palatino, georgia, verdana, arial, sans-serif;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

h4 {
  margin-bottom: 4px;
}

ol {
  padding: 0 10px 0 20px;
}

li {
  list-style-type: decimal;
  margin: 0px 0 0 0;
  padding-bottom: 1em;

}

ol.nocount li {
  list-style-type: circle;
  margin: 0px 0 0 0;
  padding-bottom: 1em;

}
