<div class="container" id="teaching">
  <div class="row">
    <h2>University of Colorado at Boulder</h2>
    <ul>
      <li><h4>CSCI 3308: Software Development Methods and Tools (Spring'21)</h4>
      </li>
      <li class="indent">
        I am TA-ing this class. <nz-tag><a href="https://catalog.colorado.edu/search/?search=CSCI+3308">Class info</a></nz-tag>
      </li>
    </ul>
    <h2>National Cheng Kung Univserity, Taiwan</h2>
    <ul>
      <li><h4>STAT 1021: Introduction to Data Science (Spring'18 & '19)</h4></li>
      <li class="indent">
        Special Lectures on Elementary Software Engineering Skills Applied to Network Data. <nz-tag><a href="https://netscied.tw/stat1021">Class webpage</a></nz-tag>
      </li>
    </ul>
  </div>
</div>
