<div>
    <p>Here’s a list of online seminars that I occationally attend:</p>
</div>
<div>
    <div class="row">
        <ol class="nocount">
            <li>
                <a href="https://sites.google.com/view/minds-seminar/home" style="font-weight: 500">
                    One World MINDS seminar
                </a>
                Weekly seminars on the mathematics of information, data, and signals
                (MINDS).
            </li>
            <li>
                <a href="https://www.whatisaseminar.com/home" style="font-weight: 500">
                    What is... a seminar?
                </a>
                If you loved math, you might love this seminar series, for non-technical
                expository talks aimed at grad students.
            </li>
            <li>
                <a href="https://dsiseminar.github.io/" style="font-weight: 500">
                    IEEE Signal Processing Society data science webinar series
                </a>
                Updates and advances in learning and inference on graphs.
            </li>
        </ol>
    </div>
</div>