<div>
    <p>Here’s a list of online seminars that I occationally attend:</p>
</div>
<div>
    <div>
        <a href="https://groups.google.com/g/international-monte-carlo-seminar" target="_blank">
            <i nz-icon nzType="link" nzTheme="outline"></i>
        </a>
        <i>
            International Seminar on Monte Carlo Methods
        </i> – As titled.
    </div>
    <div>
        <a href="https://sites.google.com/view/minds-seminar/home" target="_blank">
            <i nz-icon nzType="link" nzTheme="outline"></i>
        </a>
        <i>
            One World MINDS seminar
        </i> – Mathematics of information, data, and signals
        (MINDS).
    </div>
    <div>
        <a href="https://dsiseminar.github.io/" target="_blank">
            <i nz-icon nzType="link" nzTheme="outline"></i>
        </a>
        <i>
            IEEE Signal Processing DEGAS webinar series
        </i> – Updates & advances in learning and inference on graphs.
    </div>
</div>