<div class="page-container">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="6" nzXs="24" nzMd="6" id="profile">
      <img src="../../assets/img/profile_2026.jpg" width="1462" height="1462" alt="Profile picture" />
    </div>
    <div nz-col class="gutter-row biography" [nzSpan]="18" nzXs="24" nzMd="18">
      <p>
        I grew up in Yunlin, Taiwan and has background in natural sciences.
        After wonderful years in Beijing as a software engineer in a startup and
        then a NGO, I moved to Boulder in 2018, where I now call home. My work
        draws on computer science and applied math to understand complex
        systems. Outside work, I love exploring Colorado’s outdoors through
        hiking, climbing, and swimming.
      </p>
      <p>
        You are always welcome to contact me via
        <a
          href="https://cal.com/tcyen"
          target="_blank"
          rel="noopener"
          style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
          >Cal.com</a
        > or email.
      </p>
      <div nz-col class="social-links" style="margin-top: 10px">
        <h5>Find me at</h5>
        <ul>
          <li>
            <a href="{{ url_li }}" target="_blank" rel="noopener" aria-label="LinkedIn profile"
              ><span
                nz-icon
                nzType="linkedin"
                nzTheme="outline"
                style="font-size: 20px"
              ></span
            ></a>
          </li>
          <li>
            <a href="{{ url_gh }}" target="_blank" rel="noopener" aria-label="GitHub profile"
              ><span
                nz-icon
                nzType="github"
                nzTheme="outline"
                style="font-size: 20px"
              ></span
            ></a>
          </li>
          <li>
            <a href="{{ url_bsky }}" target="_blank" rel="noopener" aria-label="Bluesky profile"
              ><app-icon name="bluesky" style="font-size: 20px"></app-icon
            ></a>
          </li>
          <li>
            <a href="{{ url_x }}" target="_blank" rel="noopener" aria-label="Twitter profile"
              ><span
                nz-icon
                nzType="twitter"
                nzTheme="outline"
                style="font-size: 20px"
              ></span
            ></a>
          </li>
          <li>
            <a href="{{ url_gs }}" target="_blank" rel="noopener" aria-label="Google Scholar profile"
              ><app-icon
                name="google-scholar" class="big-icon"
                style="font-size: 20px"
              ></app-icon
            ></a>
          </li>
          <li>
            <a href="{{ url_wos }}" target="_blank" rel="noopener" aria-label="Web of Science profile"
              ><app-icon name="clarivate" class="big-icon" style="font-size: 20px"></app-icon
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="6"></div>

    <div
      class="bottom-content"
      nz-row
      [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
    >
      <div nz-col class="gutter-row" [nzSpan]="6"></div>
    </div>

    <!-- <div nz-col class="gutter-row" [nzSpan]="12">
      <section id="contact">
        <div nz-row nzJustify="center">
          <div nz-col>
            <p
              style="
                font-size: 80%;
                font-family: 'inconsolata';
                font-weight: 500;
              "
            >
              <a
                href="mailto:tzuchi.yen@colorado.edu"
                style="text-decoration: none"
              >
                <i nz-icon nzType="mail" nzTheme="outline" class="email"></i>
                tzuchi.yen&#64;colorado.edu
              </a>
              <a
                href="https://keys.openpgp.org/search?q=tzuchi.yen%40colorado.edu"
                target="_blank"
                style="text-decoration: none"
              >
                <i nz-icon nzType="lock" nzTheme="outline" class="pgp-key"></i>
                49B1556E
              </a>
              <a routerLink="/privacy" style="font-size: small">(why?)</a>
            </p>
          </div>
        </div>
      </section>
    </div> -->
  </div>

  <div
    class="bottom-content"
    nz-row
    [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
  >
    <div nz-col class="gutter-row" [nzSpan]="8" nzXs="24" nzMd="8">
      <h5>Proud supporter of</h5>
      <div nz-row style="margin-top: -5px">
        <div nz-col>
          <a
            href="https://my.fsf.org/join?referrer=2272401"
            target="_blank"
            rel="noopener"
            aria-label="Free Software Foundation membership"
          >
            <img
              src="https://static.fsf.org/nosvn/associate/crm/2272401.png"
              width="180"
              height="45"
              alt="FSF"
              style="max-height: 40px; width: auto"
            />
          </a>
        </div>
        <div nz-col style="margin-left: 10px">
          <a href="https://www.eff.org/" target="_blank" rel="noopener" aria-label="Electronic Frontier Foundation membership">
            <img
              src="https://www.eff.org/files/2019/11/20/2020-membership-badge-2.png"
              width="216"
              height="216"
              alt="EFF"
              style="max-height: 40px; width: auto"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
