.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the container takes up at least the full viewport height */
  }
  
  .bottom-content {
    margin-top: auto; /* This pushes the content to the bottom */
    padding-top: 20px; /* Add some space above the bottom content */
  }
  

#profile {
    
    width: 100%;
    background-color: white;
}


#profile img {
    border-radius: 4px;
    width: 100%;
}

.email {
    width: 1em;
    margin-right: 0.5em;
}

.pgp-key {
    border-left: 1px solid #000;
    margin: 0 0.5em 0 0.8em;
    padding: 0 0 0 0.8em;
    /*width: 1em;*/
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    gap: 0px;
}

li {
    list-style-type: none;
}
