<div class="page-container">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="6" id="profile">
      <img src="../../assets/img/profile_2024.jpg" alt="Profile picture" />
    </div>
    <div nz-col class="gutter-row" [nzSpan]="18" style="text-align: justify">
      Born and raised in Yunlin, Taiwan, I earned my B.Sc. in Biology from
      National Taiwan University in Taipei. After which I spent time as a
      software engineer / data analyst in Beijing, China, and in startup and NGO
      scenes. In 2018, I moved to Boulder, Colorado, where I currently reside.
      My work blends tools from computer science and applied math to analyze
      complex systems across various domains. When not working, I take advantage
      of Colorado’s landscape, enjoying activities such as hiking, climbing, and
      swimming.
      <div nz-col style="margin-left: -15px; margin-top: 10px">
        <h5>Find me at</h5>
        <ul>
          <li>
            <a href="{{ url_li }}" target="_blank" rel="noopener"
              ><span
                nz-icon
                nzType="linkedin"
                nzTheme="outline"
                style="font-size: 20px"
              ></span
            ></a>
          </li>
          <li>
            <a href="{{ url_gh }}" target="_blank" rel="noopener"
              ><span
                nz-icon
                nzType="github"
                nzTheme="outline"
                style="font-size: 20px"
              ></span
            ></a>
          </li>
          <li>
            <a href="{{ url_bsky }}" target="_blank" rel="noopener"
              ><fa-icon [icon]="faBluesky" style="font-size: 20px"></fa-icon
            ></a>
          </li>
          <li>
            <a href="{{ url_x }}" target="_blank" rel="noopener"
              ><span
                nz-icon
                nzType="twitter"
                nzTheme="outline"
                style="font-size: 20px"
              ></span
            ></a>
          </li>
          <li>
            <a href="{{ url_gs }}" target="_blank" rel="noopener"
              ><i
                class="ai ai-google-scholar big-icon"
                style="font-size: 20px"
              ></i
            ></a>
          </li>
          <li>
            <a href="{{ url_wos }}" target="_blank" rel="noopener"
              ><i class="ai ai-clarivate big-icon" style="font-size: 20px"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="6"></div>

    <div
      class="bottom-content"
      nz-row
      [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
    >
      <div nz-col class="gutter-row" [nzSpan]="6"></div>
    </div>

    <!-- <div nz-col class="gutter-row" [nzSpan]="12">
      <section id="contact">
        <div nz-row nzJustify="center">
          <div nz-col>
            <p
              style="
                font-size: 80%;
                font-family: 'inconsolata';
                font-weight: 500;
              "
            >
              <a
                href="mailto:tzuchi.yen@colorado.edu"
                style="text-decoration: none"
              >
                <i nz-icon nzType="mail" nzTheme="outline" class="email"></i>
                tzuchi.yen&#64;colorado.edu
              </a>
              <a
                href="https://keys.openpgp.org/search?q=tzuchi.yen%40colorado.edu"
                target="_blank"
                style="text-decoration: none"
              >
                <i nz-icon nzType="lock" nzTheme="outline" class="pgp-key"></i>
                49B1556E
              </a>
              <a routerLink="/privacy" style="font-size: small">(why?)</a>
            </p>
          </div>
        </div>
      </section>
    </div> -->
  </div>

  <div
    class="bottom-content"
    nz-row
    [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
  >
    <div nz-col class="gutter-row" [nzSpan]="8">
      <h5>Proud supporter of</h5>
      <div nz-row style="margin-top: -5px">
        <div nz-col>
          <a
            href="https://my.fsf.org/join?referrer=2272401"
            target="_blank"
            rel="noopener"
          >
            <img
              src="https://static.fsf.org/nosvn/associate/crm/2272401.png"
              alt="FSF"
              style="max-height: 40px; width: auto"
            />
          </a>
        </div>
        <div nz-col style="margin-left: 10px">
          <a href="https://www.eff.org/" target="_blank" rel="noopener">
            <img
              src="https://www.eff.org/files/2019/11/20/2020-membership-badge-2.png"
              alt="EFF"
              style="max-height: 40px; width: auto"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
