<p style="color: red;">
  This page is under construction (as of Nov 16, 2021).
  The URL is not exposed, though you may reach here via search engines.
</p>
<p>
  Selected reading that I find useful.
</p>
<div style="text-align: justify; text-justify: inter-word;">
  <h3>Combinatorics</h3>
  <ul>
    <li>
      H. Wilf, <a href="https://www.jstor.org/stable/2321713">What is an answer?</a>,
      the American Mathematical Monthly (1982).
      <p>Spotted <a href="https://www.math.ucla.edu/~pak/courses/206-Fall-2016/206-Fall-2016.html">here</a>.</p>
    </li>
  </ul>
</div>
<div style="text-align: justify; text-justify: inter-word;">
  <h3>Statistical modeling</h3>
  <ul>
    <li>
      G. Shmueli, <a href="https://projecteuclid.org/journals/statistical-science/volume-25/issue-3/To-Explain-or-to-Predict/10.1214/10-STS330.full">To Explain or to Predict?</a>,
      Statistical Science (2010).
    </li>
  </ul>
</div>
