<p style="color: red;">
  This page is under construction (as of Nov 16, 2021).
  The URL is not exposed, though you may reach here via search engines.
</p>
<p>
  Selected reading that I find useful.
</p>
<div style="text-align: justify; text-justify: inter-word;">
  <h3>Computer science & Biology</h3>
  <ul>
    <li>
      Navlakha & Bar-Joseph, <a href="https://www.embopress.org/doi/pdf/10.1038/msb.2011.78?id=1506427">Algorithms in
        nature</a> (2011).
    </li>
  </ul>
</div>
<div style="text-align: left; text-justify: inter-word;">
  <h3>Combinatorics</h3>
  <ul>
    <li>
      Wilf, <a href="https://www.jstor.org/stable/2321713">What is an answer?</a>
      (1982); spotted <a href="https://www.math.ucla.edu/~pak/courses/206-Fall-2016/206-Fall-2016.html">here</a>.
    </li>
  </ul>
</div>

<div style="text-align: justify; text-justify: inter-word;">
  <h3>Statistical modeling</h3>
  <ul>
    <li>
      Donoho, <a href="https://www.tandfonline.com/doi/full/10.1080/10618600.2017.1384734">50 Years of Data Science</a>
      (2017).
    </li>
    <li>
      von Luxburg, Williamson, & Guyon, <a href="https://proceedings.mlr.press/v27/luxburg12a.html">Clustering: Science
        or Art?</a>
      (2012).
    </li>
    <li>
      Shmueli, <a
        href="https://projecteuclid.org/journals/statistical-science/volume-25/issue-3/To-Explain-or-to-Predict/10.1214/10-STS330.full">To
        Explain or to Predict?</a>
      (2010).
    </li>
  </ul>
</div>

<div style="text-align: justify; text-justify: inter-word;">
  <h3>Math</h3>
  <ul>
    <li>
      Raman-Sundström, <a href="https://arxiv.org/abs/1006.4131">A pedagogical history of compactness</a>
      (2014); spotted from Steve's <a href="https://twitter.com/stevenstrogatz/status/1588243124920365057">tweets</a>,
      which
      contain other good resources on compactness.
    </li>
  </ul>
</div>