<p style="color: red;">
  This page is under construction (as of Nov 16, 2021).
  The URL is not exposed, though you may reach here via search engines.
</p>
<p>
  Selected reading that I find useful.
</p>
<div style="text-align: left; text-justify: inter-word;">
  <h3>Combinatorics</h3>
  <ul>
    <li>
      Wilf, <a href="https://www.jstor.org/stable/2321713">What is an answer?</a>,
      American Mathematical Monthly (1982).
      <p>Spotted <a href="https://www.math.ucla.edu/~pak/courses/206-Fall-2016/206-Fall-2016.html">here</a>.</p>
    </li>
  </ul>
</div>

<div style="text-align: justify; text-justify: inter-word;">
  <h3>Statistical modeling</h3>
  <ul>
    <li>
      Donoho, <a href="https://www.tandfonline.com/doi/full/10.1080/10618600.2017.1384734">50 Years of Data Science</a>,
      Journal of Computational and Graphical Statistics (2017).
    </li>
    <li>
      von Luxburg, Williamson, & Guyon, <a href="https://proceedings.mlr.press/v27/luxburg12a.html">Clustering: Science
      or Art?</a>,
      Proceedings of ICML Workshop on Unsupervised and Transfer Learning (2012).
    </li>
    <li>
      Shmueli, <a
      href="https://projecteuclid.org/journals/statistical-science/volume-25/issue-3/To-Explain-or-to-Predict/10.1214/10-STS330.full">To
      Explain or to Predict?</a>,
      Statistical Science (2010).
    </li>
  </ul>
</div>

<div style="text-align: justify; text-justify: inter-word;">
  <h3>General math</h3>
  <ul>
    <li>
      Raman-Sundström, <a href="https://arxiv.org/abs/1006.4131">A pedagogical history of compactness</a>,
      arXiv:1006.4131v2 (2014).
      <p>Spotted from Steve's <a href="https://twitter.com/stevenstrogatz/status/1588243124920365057">tweets</a>, which
        contain other good resources on compactness.</p>
    </li>
  </ul>
</div>
