<div>
  <h3><a routerLink="/teaching"><i nz-icon nzType="left-square" nzTheme="fill"></i></a> CSCI 3308 Software Development
    Methods and Tools</h3>
  <p>
    Course on University Catelog: <a href="https://catalog.colorado.edu/search/?search=CSCI+3308" target="_blank">CSCI
    3308</a>.
  </p>
  <h3>Textbooks</h3>
  <p>
    TBD.
  </p>
  <h3>Ideas for future installments</h3>
  <p>
    On regular expression: <a href="https://mobile.twitter.com/HamelHusain/status/1494513203987902468?s=20"
                              target="_blank">pythex</a>
    <br>
    Never write a regex by hand again: <a href="https://www.autoregex.xyz/" target="_blank">AutoRegex</a> (or see <a
    href="https://twitter.com/gdb/status/1545764999628410880" target="_blank">this tweet</a>)
    <br>
    On Git: <a href="https://twitter.com/allison_horst/status/1523744022421860352/photo/1" target="_blank">git
    buddies</a>
    <br>
    <a href="https://onlywei.github.io/explain-git-with-d3" target="_blank">Visualizing Git concepts with D3</a>
    <br>
    <a href="https://guicommits.com/organize-python-code-like-a-pro/" target="_blank">Organize Python code like a
      PRO</a>
  </p>
  <h4>Lecture: modern web technology</h4>
  <ul>
    <li>
      <a href="https://www.convex.dev/" target="_blank">Convex</a>: a reactive backend-as-a-service for web developers.
      Spotted from <a target="_blank" href="https://twitter.com/jamesacowling/status/1591221339549216769">here</a>.
    </li>
  </ul>
  <h4>Lecture: modern alternatives for the classic Linux commands</h4>
  <ul>
    <li>
      A <a href="https://github.com/ibraheemdev/modern-unix" target="_blank">Modern Unix</a> collection
    </li>
    <li>
      A <a href="https://jvns.ca/blog/2022/04/12/a-list-of-new-ish--command-line-tools/">list</a> of new(ish) command line tools.
    </li>
  </ul>
  <h4>Case study: all things open-source software</h4>
  <ul>
    <li>
      GNU GPL: <a href="https://twitter.com/tonroosendaal/status/1135229214607773696" target="_blank">Blender</a>
    </li>
    <li>
      For research software outputs, see the FAIR principles: <a
      href="https://www.nature.com/articles/s41597-022-01710-x" target="_blank">paper</a> & <a
      href="https://researchdata.springernature.com/posts/introducing-the-fair-principles-for-research-software"
      target="_blank">blog post</a>.
    </li>
    <li>
      For humanities outputs, see <a href="https://endings.uvic.ca/principles.html" target="_blank">the Endings Principles</a> for Digital Longevity.
    </li>
  </ul>
  <h3>References</h3>
  <p>
    Other similar courses have been offered at ...
  </p>
</div>
