<div class="container" id="teaching">
  <h3><a routerLink="/teaching"><i nz-icon nzType="left-square" nzTheme="fill"></i></a> CSCI 2270 Data Structures</h3>
  <!--   I taught 44 students in 11 recitations.-->
  <p>
    Course on University Catalog: <a href="https://catalog.colorado.edu/search/?search=CSCI+2270" target="_blank">CSCI
    2270</a>.
  </p>
  <h3>Textbooks</h3>
  <p>
    Hoenigman, R. 2015. Visualizing Data Structures. Lulu Press.
  </p>
  <h3>References</h3>
  <p>
    Other similar courses have been offered at <a href="https://www.ics.uci.edu/~eppstein/261/" target="_blank">UC
    Irvine</a>, <a href="http://web.stanford.edu/class/cs166/" target="_blank">Stanford</a>, etc.
  </p>
</div>
