/* You can add global styles to this file, and also import other style files */
/*li a {*/
/*  color: black;*/
/*}*/
/* @import "ng-zorro-antd/ng-zorro-antd.min.css"; */
html,
body {
  height: 100%;
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

div {
  font-family: 'Equity B';
  font-size: 13.5pt;
  line-height: 1.45em;
  text-align: left;
}

h2 {
  color: rgba(0, 0, 0, 0.85);
  font-family: 'concourse_4';
  text-align: left;
  font-weight: normal;
}

h3 {
  font-family: 'concourse_4', sans-serif;
}
h4 {
  margin-bottom: 4px;
}

h5 {
  font-family: 'concourse_4_caps';
  font-size: 10pt;
}

.addendum {
  background-color: #f7f7f7;
  padding: 20px;
  border-top: 1px solid #ddd;
  position: static;
  bottom: 0;
  width: 100%;
}

/* For lists within the whole website */
ol {
  padding: 0 10px 0 20px;
}

li {
  list-style-type: decimal;
  margin: 0 0 0 0;
}

ol.nocount li {
  list-style-type: circle;
  margin: 0 0 0 0;
}

li.indent {
  margin: 0 0 0 20pt;
  list-style-type: circle;
}

#logo-title {
  display: block;
  min-width: 200px;
  font-size: 28px !important;
  font-family: 'equity_a';
  /*text-transform: uppercase !important;*/
  float: left;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 5px;
  letter-spacing: .04em;
  line-height: normal;
  font-weight: 600;
  /* font-weight: normal; */
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
  color: #37373a;
}


#vitae {
  line-height: normal;
  letter-spacing: .04em;
  font-size: 18px !important;
  font-family: 'Cookie', cursive;
  vertical-align: top !important;
  float: right;
}

#resume {
  margin-right: 2em;
  line-height: normal;
  letter-spacing: .04em;
  font-size: 18px !important;
  font-family: 'Cookie', cursive;
  vertical-align: top !important;
  float: right;
}

#menu {
  font-family: 'concourse_4_caps';
  font-weight: normal;
}

#footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
  font-family: 'concourse 4';
  font-size: 12pt;
}


/* For the nav bar */

/* Header content */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Navigation bar */
.text-nav {
  display: flex;
  align-items: center;
  font-family: 'concourse_4', sans-serif;
  font-weight: normal;
  width: 100%; /* Ensure it takes up full width */
}

/* Links inside the navigation bar */
.text-nav a {
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  transition: all 0.3s ease;
}

.text-nav a:hover {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d0d0d0;
}

/* Active link styles */
.text-nav a.active,
.text-nav a.is-cu-active {
  background-color: #bfbfbf;
  color: rgba(0, 0, 0, 0.85);
}

/* Separator between links */
.separator {
  color: #ccc;
  margin: 0 5px;
}

/* Underline effect for links */
.text-nav a:hover::after,
.text-nav a.active::after,
.text-nav a.is-cu-active::after {
  width: 100%;
}

/* General list behavior */
ol {
  padding: 0 10px 0 20px;
}

li {
  list-style-type: decimal;
  margin: 0 0 0 0;
  padding-bottom: 1em;
}

ol.nocount li {
  list-style-type: square;
  margin: 0 0 0 0;
  /* padding-bottom: 1em; */
}

li.indent {
  margin: 0 0 0 0;
  list-style-type: square;
}


/* General link hover behavior */
li a,
p a,
i a {
  -webkit-transition: all .25s cubic-bezier(.55, .085, 0, .99), outline 0s linear, outline-offset 0s linear;
  transition: all .25s cubic-bezier(.55, .085, 0, .99), outline 0s linear, outline-offset 0s linear;
  color: rgba(0, 0, 0, 0.85);
  /* color: black; */
  text-decoration: underline;
  text-decoration-color: #276190;
  text-decoration-thickness: 0.100rem;
  text-underline-offset: 0.125rem;
}

li a:hover,
p a:hover,
i a:hover {
  color: #3077B0;
  text-decoration-color: #3077B0;
  text-decoration-thickness: 0.050rem;
  text-underline-offset: 0.125rem;
}


li a:-webkit-any-link,
p a:-webkit-any-link,
i a:-webkit-any-link {
  cursor: pointer;
}


ul {
  padding-left: 10px;
}

.event-item {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 5px;
  margin-bottom: 5px;
}

.event-date {
  font-size: medium;
  margin-right: 0px;
  font-family: "concourse_2", sans-serif;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: right;
}

.event-description {
  padding-left: 5px;
  /* border-left: 2px solid #e8e8e8; */
}

.sub-items li {
  /* margin-top: 5px; */
  margin: 0 0 0 5px;
  list-style-type: square;
}