nz-tree {
  font-family: "Equity B";
  font-size: 14pt;
}

.file-desc,
.folder-desc {
  padding: 0 8px;
  display: inline-block;
  background: #87ceff;
  color: #ffffff;
  position: relative;
  left: 12px;
}

.week-content {
  padding-left: 20pt;
  padding-right: 40pt;
  text-align: justify;
  text-justify: inter-word;
}


.stylish-content {
  padding: 1em;
  margin: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
  color: #222222;
  font-size: 1rem;
  line-height: 1.7;
  text-align: justify;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.2s linear;
  transform: translateY(-20px);
}

.stylish-content:hover,
.stylish-content:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #e8e8e8;
}

.stylish-content > div {
  margin-bottom: 4px;
  padding: 10px; 
}

.stylish-content > div:last-child {
  margin-bottom: 0; 
}