<nz-layout class="layout" nz-row nzJustify="center">
  <div nz-col nzSpan="24">
    <nz-row nzJustify="space-between">
      <nz-header nz-col nzSpan="8"><a href="/"><h1 id="logo-title">Tzu-Chi Yen</h1></a></nz-header>
      <div nz-col nzSpan="2">
        <div nz-row nzJustify="end">
<!--          <div nz-col nzSpan="12">-->
<!--            <nz-tag [nzColor]="'cyan'" id="wiki"><a-->
<!--              href="https://wiki.junipertcy.info" target="_blank">Wiki</a></nz-tag>-->
<!--          </div>-->
          <div nz-col nzSpan="12">
            <nz-tag [nzColor]="'volcano'" id="vitae"><a
              href="https://d.junipertcy.info/images/3/3f/Vitae-tzuchiyen.pdf" target="_blank">Vitae</a></nz-tag>
          </div>
        </div>
      </div>
    </nz-row>
  </div>
  <div nz-row>
    <div nz-col nzSpan="4">
      <nz-sider
        nzCollapsible
        nz-col nzSpan="4"
        nzTheme="light"
        [(nzCollapsed)]="isCollapsed"
        [nzBreakpoint]="'lg'"
        [nzCollapsedWidth]="0"
        [nzZeroTrigger]="zeroTrigger"
        [nzWidth]="130"
      >
        <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="background: #e7e7e7;">
          <li nz-menu-item routerLink="/publications">
            <span>Publications</span>
          </li>
          <li nz-menu-item routerLink="/talks">
            <span>Talks</span>
          </li>
          <li nz-menu-item routerLink="/teaching">
            <span>Teaching</span>
          </li>
          <li nz-menu-item routerLink="/activities">
            <span>Activities</span>
          </li>
        </ul>
      </nz-sider>
    </div>
    <div nz-col nzSpan="20" [style.min-height.px]="screenHeight">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div nz-col nzSpan="24">
    <!-- Banner section -->
    <div nz-row nzJustify="start" style="height: 40px">
      <div *ngIf="isDonationBannerShown" nz-col nzSpan="4">
      </div>
      <div *ngIf="isDonationBannerShown" nz-col nzSpan="4" style="margin-top: -15px;">
        <h5>Proudly support</h5>
        <a href="https://freedom.press/">
          <img src="../assets/img/fpf-logo.png" height="23pt" alt="fpf">
        </a>
      </div>
      <div *ngIf="isDonationBannerShown" nz-col nzSpan="4">
        <a href="https://my.fsf.org/join?referrer=2272401">
          <img src="https://static.fsf.org/nosvn/associate/crm/2272401.png" height="40pt" alt="fsf">
        </a>
      </div>
    </div>
    <nz-footer nz-col nzSpan="24" id="footer">
      © Since 2016 Tzu-Chi Yen | Last update: Jun. 14, 2021 |
      <a href="https://github.com/junipertcy/homepage" target="_blank" style="color: rgba(0,0,0,.65);">
        <i nz-icon nzType="code" nzTheme="outline"></i>
      </a>
      | Powered by <a
      href="https://angular.io/" target="_blank" style="color: rgba(0,0,0,.65);">Angular</a> and <a
      href="https://ng.ant.design/" target="_blank" style="color: rgba(0,0,0,.65);">NG-ZORRO</a>
      <a routerLink="/resources">.</a>
    </nz-footer>
  </div>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>
