<nz-layout class="layout">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="24">
      <nz-row nzType="flex" nzJustify="space-between">
        <nz-header nz-col nzSpan="8"><a href="/"><h1 id="logo-title">Tzu-Chi Yen</h1></a></nz-header>
        <div nz-col nzSpan="1">
          <nz-tag [nzColor]="'volcano'" id="vitae"><a
            href="https://wiki.junipertcy.info/images/3/3f/Vitae-tzuchiyen.pdf" target="_blank">Vitae</a></nz-tag>
        </div>
      </nz-row>
    </div>
    <div nz-col nzSpan="4">
      <nz-sider
        nzCollapsible
        nz-col nzSpan="4"
        nzTheme="light"
        [(nzCollapsed)]="isCollapsed"
        [nzBreakpoint]="'lg'"
        [nzCollapsedWidth]="0"
        [nzZeroTrigger]="zeroTrigger"
        [nzWidth]="130"
      >
        <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="background: #e7e7e7;">
          <li nz-menu-item routerLink="/publications">
            <span>Publications</span>
          </li>
          <li nz-menu-item routerLink="/research">
            <span>Research</span>
          </li>
          <li nz-menu-item routerLink="/teaching">
            <span>Teaching</span>
          </li>
        </ul>
      </nz-sider>
    </div>
    <div nz-col nzSpan="20">
      <router-outlet></router-outlet>
    </div>

    <div nz-col nzSpan="24">
      <nz-footer nz-col nzSpan="24" style="text-align: center; position: relative; bottom: 0; width: 100%;">
        © Copyright since 2016 Tzu-Chi Yen | Last update: Jan. 20, 2020 |
        <a href="https://github.com/junipertcy/homepage" target="_blank" style="color: rgba(0,0,0,.65);">
          <i nz-icon nzType="code" nzTheme="outline"></i>
        </a>
        | Powered by <a
        href="https://angular.io/" target="_blank" style="color: rgba(0,0,0,.65);">Angular</a> and <a
        href="https://ng.ant.design/" target="_blank" style="color: rgba(0,0,0,.65);">NG-ZORRO</a>.
      </nz-footer>
    </div>

  </div>

</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>
