.ant-layout-header {
  background: #ffffff;
}

.ant-layout-footer {
  background: #ffffff;
}

.layout {
  width: 980px;
  background: #ffffff;
  margin: 0 auto;
}

#logo-title {
  display: block;
  min-width: 200px;
  font-size: 28px !important;
  font-family: 'Source Serif Pro', serif;
  /*text-transform: uppercase !important;*/
  vertical-align: top !important;
  float: left;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 5px;
  letter-spacing: .04em;
  line-height: normal;
  font-weight: 600;
  color: #37373a;
}

.tag {
  font-size: 18px !important;
  font-family: 'Cookie', cursive;
  vertical-align: top !important;
  float: right;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 5px;
  letter-spacing: .04em;
  line-height: normal;
}

#footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
}

#network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#network-icon li:last-of-type {
  margin-right: 0;
}

#network-icon li {
  margin-right: 10px;
}

#network-icon a {
  color: inherit;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-decoration: none;
  transition: color .6s ease;
}
