.ant-layout-header {
  background: #ffffff;
}

.ant-layout-footer {
  background: #ffffff;
}

.layout {
  width: 900px;
  background: #ffffff;
  margin: 0 auto;
}

/*!* make menu items closer *!*/
.ant-menu-item, .ant-menu-submenu-title {
    padding: 0 10px;
}

/*.navigator {*/
/*    font-style: normal;*/
/*    font-size: 14px;*/
/*    font-family: Roboto, sans-serif;*/
/*    color: #4d4d4d;*/
/*    background: #fff;*/
/*    height: 100%;*/
/*}*/

#logo-title {
    display: block;
    max-width: 500px;
    font-size: 28px !important;
    font-family: "Source Serif Pro", Serif;
    /*text-transform: uppercase !important;*/
    vertical-align: top !important;
    float: left;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 5px;
    letter-spacing: .04em;
    line-height: normal;
    font-weight: 600;
    color: #37373a;
}

#vitae {
    font-size: 18px !important;
    font-family: "Monotype Corsiva" !important;
    vertical-align: top !important;
    float: left;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 5px;
    letter-spacing: .04em;
    line-height: normal;
}

#vitae a {
    color: #fa541c;
}

#wiki {
    font-size: 18px !important;
    font-family: "Monotype Corsiva" !important;
    vertical-align: top !important;
    float: left;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 5px;
    letter-spacing: .04em;
    line-height: normal;
}

#wiki a {
    color: #13c2c2;
}
