.ant-layout-header {
  background: #ffffff;
  height: 70px;
}

.ant-layout-footer {
  background: #ffffff;
}

.layout {
  width: 1080px;
  background: #ffffff;
  margin: 0 auto;
  /* font-family: 'concourse_4'; */
}

#logo-title {
  display: block;
  min-width: 200px;
  font-size: 28px !important;
  font-family: 'equity_a';
  /*text-transform: uppercase !important;*/
  float: left;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 5px;
  letter-spacing: .04em;
  line-height: normal;
  font-weight: 600;
  /* font-weight: normal; */
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
  color: #37373a;
}

.tag {
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 5px;
}

#vitae {
  line-height: normal;
  letter-spacing: .04em;
  font-size: 18px !important;
  font-family: 'Cookie', cursive;
  vertical-align: top !important;
  float: right;
}

#resume {
  margin-right: 2em;
  line-height: normal;
  letter-spacing: .04em;
  font-size: 18px !important;
  font-family: 'Cookie', cursive;
  vertical-align: top !important;
  float: right;
}

#menu {
  font-family: 'concourse_4_caps';
  font-weight: normal;
}

#network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#network-icon li {
  margin-right: 10px;
}

#network-icon a i,
#network-icon a span {
  font-size: 1.3rem;
  color: #37373a;
  /* Default color */
}

#network-icon a:hover i,
#network-icon a:hover span {
  color: #3077B0 !important;
  /* Color changes to this on hover */
  transition: color .6s ease;
  /* Smooth color transition */
}

h5 {
  font-family: 'concourse_4_caps';
  font-size: 10pt;
}

#footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
  font-family: 'concourse 4';
  font-size: 12pt;
}

/* General menu-item behavior */
.menu-item:hover {
  transition: background-color .3s ease;
  background-color: #d0d0d0;
}

.menu-item.ant-menu-item-selected {
  background-color: #bfbfbf;
}

/* General link hover behavior */

li a,
p a,
i a {
  -webkit-transition: all .25s cubic-bezier(.55, .085, 0, .99), outline 0s linear, outline-offset 0s linear;
  transition: all .25s cubic-bezier(.55, .085, 0, .99), outline 0s linear, outline-offset 0s linear;
  color: rgba(0, 0, 0, 0.85);
  /* color: black; */
  text-decoration: underline;
  text-decoration-color: #276190;
  text-decoration-thickness: 0.100rem;
  text-underline-offset: 0.125rem;
}

li a:hover,
p a:hover,
i a:hover {
  color: #3077B0;
  text-decoration-color: #3077B0;
  text-decoration-thickness: 0.050rem;
  text-underline-offset: 0.125rem;
}


li a:-webkit-any-link,
p a:-webkit-any-link,
i a:-webkit-any-link {
  cursor: pointer;
}

mat-icon {
  cursor: pointer;
  font-size: 22px;
  /* Customize the size as needed */
  color: #37373a;
  /* Default color */
  transition: color 0.6s ease;
  /* Smooth transition for color change */
}

mat-icon:hover {
  color: #3077B0;
  /* Color changes to this on hover */
}