<div>
    <p>Here’s a list of activities that I once participated, but now dormant.</p>
</div>
<div>
    <h3>
        <a href="http://societyofyoungnetworkscientists.com/" target="_blank">
            <i nz-icon nzType="link" nzTheme="outline"></i>
        </a>
        The Society of Young Network Scientists
    </h3>
    <p>
        <i>What is the SYNS?</i> – SYNS is an organization designed to support early-career network
        scientists as they pursue research, to promote their work, and to shape the
        evolving field of network science.
    </p>
    <p>
        <i>How do I get involved?</i> – Stop by one of the SYNS events! Alternatively, feel free to contact the
        organizers (me) with questions, or to get added to our Slack.
    </p>
</div>
<div>
    <p>
        <i>
            <a href="https://syns-colorado.github.io/" target="_blank">
                <i nz-icon nzType="link" nzTheme="outline"></i>
            </a>
            SYNS in Colorado!
            <i nz-icon>
                <img src="assets/img/flag-for-colorado.png" height="24" alt="colorado-flag"
                    style="vertical-align: -0.125em" />
            </i>
        </i> – With
        <a href="https://allisonmorgan.github.io/">Allie Morgan</a>
        and
        <a href="https://hneutr.github.io/">Hunter Wapman</a>, we launched our inaugural local meet-up in Oct’19. In our
        second meeting
        (Feb’20), five great speakers, each from a distinct expertise (Mechanical Engineering, Computer Science, Applied
        Math, & Environmental Science), came
        to give a 5-min short research talk. Attendees are from Boulder, Fort
        Collins, and Denver area.
    </p>
    <p>
        If you are in our neck of the woods, poke us to be added to our
        <a href="https://groups.google.com/forum/#!forum/syns-colorado">
            Google Group
        </a>
        and email list!
    </p>
</div>
<div>
    <h3>Seminars</h3>

    <i><a href="https://www.whatisaseminar.com/home" style="font-weight: 500">
        What is... a seminar?
    </a></i> – If you loved math, you might love this seminar series, for non-technical
    expository talks aimed at grad students.
</div>