div {
    width: 100%;
    max-width: 80px;
    margin-top: 5px;
    margin-left: 10px;
}

:host {
    --stroke-color: white;
}

[data-darkreader-mode="dynamic"] :host {
    --stroke-color: var(--darkreader-neutral-background);
}
