#profile {
  border-radius: 8px;
  width: 100%;
}

div.polaroid {
  width: 80%;
  background-color: white;
  border-radius: 8px;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
  margin-bottom: 25px;
}

div.container {
  text-align: center;
}

nz-divider {
  width: 4px;
}

li {
  list-style-type: none;
  margin: 4px 0 0 0;
  text-align: justify;
  text-justify: inter-word;
}

li.indent {
  margin: 0 0 0 20px;
  list-style-type: circle;
}

.email {
  width:1em; margin-right:.5em;
}

.pgp-key {
  border-left: 1px solid #000;
  margin: 0 .5em 0 .8em;
  padding: 0 0 0 .8em;
  /*width: 1em;*/
}


#network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#network-icon li:last-of-type {
  margin-right: 0;
}

#network-icon li {
  margin-right: 10px;
}

#network-icon a {
  color: inherit;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-decoration: none;
  transition: color .6s ease;
}
