#profile {
  border-radius: 4px;
  width: 80%;
  background-color: white;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
  /* margin-bottom: 25px; */
}

nz-divider {
  width: 4px;
}

nz-select {
  margin: 0 0px 3px 0;
  width: 4.9rem;
  font-family: "concourse_4_caps", sans-serif;
}

.border-container {
  position: relative;
  /* Required for absolute positioning of the emoji */
  border-bottom: 2px solid #929292;
  /* Adjust color as needed */
  /* text-align: center; Helps center the emoji */
  height: 40px;
  /* Adjust as needed */
}

.emoji {
  position: absolute;
  bottom: -15px;
  /* Adjust based on the size of the emoji and desired placement */
  left: 35%;
  transform: translateX(-50%);
  /* Center the emoji */
  background: white;
  /* Match the background of your page */
  padding: 0 1px;
  /* Add some padding around the emoji */
}

#otherYears {
  font-family: "concourse_4_caps", sans-serif;
}

.stylish-border {
  border: 2px solid #276190;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #111111;
  font-family: "concourse_4", sans-serif;
}

strong {
  font-family: "concourse_4_caps", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}

li {
  list-style-type: none;
  margin: 4px 0 0 0;
  text-align: justify;
  text-justify: inter-word;
}

li.indent {
  margin: 0 0 0 20px;
  list-style-type: circle;
}

.email {
  width: 1em;
  margin-right: 0.5em;
}

.pgp-key {
  border-left: 1px solid #000;
  margin: 0 0.5em 0 0.8em;
  padding: 0 0 0 0.8em;
  /*width: 1em;*/
}

#initial {
  float: left;
  font-feature-settings: "ss08" 1;
  /* font-size: 3.5rem; */
  /* height: 3.4375rem; */
  font-size: 3.3rem;
  height: 3.2rem;
  line-height: 1;
  margin: 0.0625rem 0.2rem 0 0;
  text-transform: uppercase;
  font-family: "equity_b_caps";
}

#small {
  font-family: "equity_b_caps";
}
