<div nz-col nzOffset="0">
  <div nz-row nzJustify="start">
    <div nz-col nzSpan="5">
      <img src="../../assets/img/profile_2023.jpg" id="profile" alt="profile picture">
    </div>
    <div nz-col nzSpan="19">
      <p>
        <span id="initial">H</span><span id="small">i there!</span> I am a postdoctoral scholar at the BioFrontiers Institute at CU Boulder. Supported by <a
          href="https://www.kavlifoundation.org/" target="_blank">The Kavli Foundation</a>, I am
        developing an analytical
        approach to infer functional connectivity from neurophysiological data and investigate the evolution of network
        structure across behaviors.
        Overall, my research focuses on understanding <a href="{{wiki_cs}}">complex
          systems</a> in social
        and biological domains, by devising and using
        tools from <a href="{{wiki_stat_inf}}">statistical inference</a>, <a href="{{wiki_tda}}">computational
          topology</a> and <a href="{{wiki_cvx}}">convex
          optimization</a>.
      </p>
      <p style="font-size: 12pt;">
        <a href="mailto:tzuchi.yen@colorado.edu"
          style="font-family: 'inconsolata'; text-decoration: none; font-weight: 500;"><i nz-icon nzType="mail"
            nzTheme="outline" class="email"></i>tzuchi.yen&#64;colorado.edu</a>
        <a href="https://keys.openpgp.org/search?q=tzuchi.yen%40colorado.edu" target="_blanks"
          style="font-family: 'inconsolata'; text-decoration: none; font-weight: 500;"><i nz-icon nzType="lock"
            nzTheme="outline" class="pgp-key"></i>49B1556E</a>
        &nbsp;<a routerLink="/privacy" style="font-size: small">(why?)</a>
      </p>
    </div>
  </div>
  <div style="height: 15px;"></div>
  <!-- News section -->
  <div nz-row nzJustify="start" style="height: 350px; text-align: left;">
    <div nz-col class="gutter-row" nzSpan="2">
      <h2>News</h2>
      <div style="border-bottom: 1px solid #aaa;">
        <nz-select [nzSuffixIcon]="nzSuffixIcon" [nzShowArrow]="false" [(ngModel)]="thisYear" [nzSize]="selectSize"
          [nzOptionOverflowSize]="8" nzBorderless>
          <nz-option nzValue="2024" nzLabel="2024"></nz-option>
          <nz-option nzValue="2023" nzLabel="2023"></nz-option>
          <nz-option nzValue="2022" nzLabel="2022"></nz-option>
          <nz-option nzValue="2021" nzLabel="2021"></nz-option>
          <nz-option nzValue="2020" nzLabel="2020"></nz-option>
          <nz-option nzValue="2019" nzLabel="2019"></nz-option>
          <nz-option nzValue="2018" nzLabel="2018"></nz-option>
        </nz-select>
        <ng-template #nzSuffixIcon>
          <!--        <i nz-icon nzType="right-square" nzTheme="outline"></i>-->
          <i nz-icon nzType="calendar" nzTheme="fill"></i>
        </ng-template>
      </div>
    </div>
    <div nz-col nzSpan="22" style="overflow: auto; height: 100%;">
      <ul *ngIf="thisYear === '2024'">
        <li>
          <strong>Spring</strong>
          – I am teaching CSCI 5352: Network Analysis and Modeling.
        </li>
        <li class="indent">
          Check out the <a href="../../assets/pdf/teaching/5352/csci5352_s24_syllabus.pdf">syllabus</a> and the <a
            href="./teaching/5352">class website</a>.
        </li>
        <li class="indent">
          Please make appointments with me <a href="https://calendly.com/tcyen/5352" target="_blank">here</a>.
        </li>
      </ul>
      <ul *ngIf="thisYear === '2023'">
        <li>
          <strong>Aug 23</strong>
          – CSCI 5352 in the Fall is canceled due to my pending work authorization. I am sorry!
          Update, Oct 5: This class is scheduled to offer in Spring 2024.
        </li>
        <li>
          <strong>July 17–20</strong>
          – I will attend the International Conference for Computational Social Science (<a
            href="https://www.ic2s2.org/" target="_blank">IC2S2</a>) in Copenhagen, Denmark.
        </li>
        <li class="indent">
          Talk (19th, 12p): Aspiration of prestige in the selection of peer institutions. (<a
            href="../../assets/pdf/abstract/IC2S2_2023_abstract.pdf" target="_blank">abstract</a>; <a
            href="../../assets/pdf/slides/Research_talk-IC2S2-20Jul23.pdf" target="_blank">slides</a>)
        </li>
        <li class="indent">
          Program schedule can be found <a href="https://www.ic2s2.org/program.html#session_3f"
            target="_blank">here</a>.
        </li>
        <!-- <li>
          <strong>May 22-25</strong>
          – I will attend the inaugural <a href="https://sites.google.com/tamu.edu/camda-conference/" target="_blank">CAMDA Conference</a>, hosted by the Center for Approximation and Mathematical Data Analytics at Texas A&M University, College Station, TX.
        </li>         -->
        <li>
          <strong>June 29</strong>
          – I defended my dissertation titled “Structure, Inference, and Optimization in Complex Networks.”
          (<a href="../../assets/pdf/abstract/thesis_abstract_Yen.pdf" target="_blank">abstract</a>; <a
            href="../../assets/pdf/slides/Dissertation_defense-29Jun23.pdf" target="_blank">slides</a>; <a
            href="https://www.proquest.com/docview/2860429899/" target="_blank">full text</a>;
          <a href="https://www.mathgenealogy.org/id.php?id=301918" target="_blank">math genealogy</a>;
          <a href="https://mathscinet.ams.org/mathscinet/freetools/collab-dist?source=1410624&target=189017"
            target="_blank">Erdős number</a>)
        </li>
        <li>
          <strong>Spring</strong>
          – I am teaching (as a graduate assistant) CSCI 5822 again this semester.
        </li>
        <li class="indent">
          Check out the course <a href="https://github.com/rebeccaem/probabilistic-models-class" target="_blank">GitHub
            repo</a>.
        </li>
        <li class="indent">
          Apr 28: We are happy to welcome Prof. Nuttida Rungratsameetaweemana for a guest lecture titled “Probabilistic
          learning in humans and recurrent neural networks.” (<a
            href="../../assets/pdf/Nuttida_R_5822_guest_lecture.pdf" target="_blank">flyer</a>)
        </li>
      </ul>
      <ul *ngIf="thisYear === '2022'">
        <li>
          <strong>October 3–5</strong>
          – Attending the <a
            href="https://alleninstitute.org/what-we-do/brain-science/events-training/2022-neurodatarehack-hackathon/"
            target="_blank">NeuroDataReHack event</a> at the Allen Institute, Seattle, WA.
        </li>
        <li>
          <strong>September 13–15</strong>
          – Attending the virtual <a href="http://dyn.phys.northwestern.edu/ns22.html" target="_blank">SIAM Workshop on
            Network Science</a>.
        </li>
        <li>
          <strong>August 16–19</strong>
          – Attending the <a href="https://nasit-2022.seas.ucla.edu/" target="_blank">North American School of
            Information Theory</a> at UCLA, Los Angeles, CA.
        </li>
        <li class="indent">
          Poster: Active learning strategies in community reconstruction. (<a
            href="https://nasit-2022.seas.ucla.edu/thursday-poster-symposium/entry/25/" target="_blank">abstract</a>)
        </li>
        <li>
          <strong>August 10–12</strong>
          – Attending the workshop, <a href="https://www.colorado.edu/amath/caccss2022" target="_blank">Contagion on
            Complex Social Systems</a> at CU Boulder, CO.
        </li>
        <li>
          <strong>July 23</strong>
          – Giving a talk about simpliciality testing online at the <a
            href="https://projecttyra.blogspot.com/2022/06/07-23-tzuchiyen.html" target="_blank">project Tyra</a>.
        </li>
        <li>
          <strong>May 30–June 3</strong>
          – Attending the <a href="https://sites.google.com/view/2022-student-symposium-comb/home?authuser=0"
            target="_blank">Student Symposium in Combinatorics</a> online, with student organizers
          mostly based in Australia.
        </li>
        <li class="indent">
          Giving a talk similar to the one given at the Aspen Center for Physics and highlight the combinatorial
          aspects. (<a href="{{'SSC22_absYen' | str2url}}" target="_blank">abstract</a>) (<a
            href="{{'Research-talk-220602-ssc' | str2url}}" target="_blank">slides [pptx]</a>)
          (<a href="{{'SSC22_video' | str2url}}" target="_blank">Video</a>)
        </li>
        <li>
          <strong>Apr 11</strong>
          – I was recognized as an <a href="{{'22_OTA_cert' | str2url}}">Outstanding TA</a> for AY 2021-22. Thanks for
          selecting me.
        </li>
        <li>
          <strong>March 27–April 1</strong>
          – Attending the <a href="https://shaevitzlab.princeton.edu/socialinteractions2022">Winter Conference on
            the Dynamics of Social Interactions</a> at the Aspen Center for
          Physics, Aspen, CO.
        </li>
        <li class="indent">
          Talk: Simpliciality testing and related topics. (<a href="{{'Research-talk-220331-acp' | str2url}}"
            target="_blank">slides</a>) (<a href="https://twitter.com/oneofyen/status/1508606464956387330"
            target="_blank">other presence</a>)
        </li>
        <li class="indent">
          I am grateful to the NSF, <a href="https://www.colorado.edu/gpsg/grants-awards/travel-grants" target="_blank"
            style="color: black;">the
            GPSG</a>, and my advisors for financial support.
        </li>
        <li>
          <strong>Feb 24</strong>
          – On Ukraine: I stand in solidarity with all citizens of Ukraine.
          My view aligns with the <a href="https://www.aps.org/about/governance/letters/ukraine.cfm" target="_blank">APS
            Statement on Ukraine</a>.
        </li>
      </ul>
      <ul *ngIf="thisYear === '2021'">
        /* all events are virtual */
        <li>
          <strong>July 19–21</strong>
          - Attending the SIAM <a href="{{acda21}}" target="_blank">Conference on Applied and Computational Discrete
            Algorithms</a>.
        </li>
        <li class="indent">
          I made <a href="{{acda21_intro_blitz}}" target="_blank">this one-page slide</a> for the ACDA Intro Blitz.
        </li>
        <li>
          <strong>July 12–20</strong>
          - Attending the IEEE <a href="{{isit21}}" target="_blank">International Symposium on
            Information Theory</a>.
        </li>
        <li class="indent">
          Check out the annual <a href="http://conferences.ece.ubc.ca/nasit2021/index.html" target="_blank">North
            American School of Information Theory.</a>
        </li>
        <li>
          <strong>June 21–July 10</strong>
          – Attending <a href="{{networks21}}">Networks 2021</a>.
        </li>
        <li class="indent">
          The Society of Young Network Scientists has a pre-conference event, themed “Alternative forms of science
          communication”. Check out this <a href="https://twitter.com/official_SYNS/status/1406013557808959493"
            target="_blank">tweet</a>.
        </li>
        <li class="indent">
          Highlight these satellites:
          <a href="https://sinm.network/" target="_blank">SINM</a>,
          <a href="https://hons-web.github.io/online/" target="_blank">HONS</a>,
          <a href="https://sites.google.com/view/toponets2021/home-page" target="_blank">TopoNets</a>, and
          <a href="https://sites.google.com/view/netscied-2021/home-page" target="_blank">NetSciEd</a>;
          for a full list, see <a href="https://networks2021.net/satellites" target="_blank">this page</a>.
        </li>
        <li class="indent">
          I am also participating a Wikipedia Edit-a-thon, organized by
          <a href="https://github.com/FranciscaOrtizRuiz" target="_blank">Francisca Ortiz</a> and <a
            href="https://scholar.google.com/citations?user=xSZwPHAAAAAJ&hl=en" target="_blank">Ana Jaramillo</a> in the
          society of <a href="https://www.networkscienceinstitute.org/wins/about" target="_blank">Women in Network
            Science (WiNS)</a>.
        </li>
        <li>
          <strong>March 31–April 2</strong>
          – Attending the <a href="https://nerccs2021.github.io/">Northeast Regional Conference on Complex
            Systems</a>.
        </li>
        <li>
          <strong>January 6–9</strong>
          – Attending the <a href="https://www.jointmathematicsmeetings.org/meetings/national/jmm2021/2247_intro">Joint
            Math Meetings</a>.
        </li>
      </ul>
      <ul *ngIf="thisYear === '2020'">
        /* all events after March are virtual */

        <!--        <li style="color: #DDDDDD;">-->
        <!--          <strong>June 8–12</strong>-->
        <!--          – [Canceled in response to COVID-19 pandemic] I will attend the <a href="https://tgda.osu.edu/atmcs2020/"-->
        <!--                                                                             style="color: #DDDDDD; text-decoration: underline">ATMCS</a>-->
        <!--          (Algebraic Topology: Methods, Computation, and Science) at Ohio State University.-->
        <!--        </li>-->
        <li>
          <strong>Sep 21–25</strong>
          – I am attending the <a href="https://simons.berkeley.edu/workshops/schedule/14243">Computational Phase
            Transitions</a> workshop at the Simons Institute.
        </li>
        <li>
          <strong>Sep 17–25</strong>
          – I will attend the <a href="https://netsci2020.netscisociety.net/">NetSci2020</a> conference;
          thank you to the organizers and the Network Science Society for the registration waiver.
        </li>
        <li>
          <strong>July 9 & 10</strong>
          - I will attend the <a href="https://ns20.cs.cornell.edu/">SIAM Workshop on Network Science 2020 (NS20)</a>.
        </li>
        <li>
          <strong>June 15–18</strong>
          – I will attend the <a href="http://www.fields.utoronto.ca/activities/19-20/toric-TDA">Workshop on Topological
            Data Analysis</a>, featuring two Clay Lectures by Gunnar Carlsson and Shmuel Weinberger.
        </li>
        <li>
          <strong>June 10</strong>
          – With colleagues on this <a href="https://www.shutdownstem.com/">#ShutDownAcademia #ShutDownSTEM day</a>, we
          educate ourselves about anti-Black racism in academia and reflect on how our systems treat people differently.
        </li>
        <li>
          <strong>May 5</strong>
          – I will attend the <a href="https://twitter.com/masonporter/status/1251594612549906432">online
            minisymposium</a> “Topological Data Analysis and Data-Driven Modeling in Complex Systems” from the SIAM
          Conference on Mathematics of Data Science. See titles & abstracts: <a
            href="https://meetings.siam.org/sess/dsp_programsess.cfm?SESSIONCODE=67931">Part I</a> & <a
            href="https://meetings.siam.org/sess/dsp_programsess.cfm?SESSIONCODE=67932">Part II</a>.
        </li>
        <li>
          <strong>April 25</strong>
          – I am attending the “Graduate Online Anything Topology Series” (<a
            href="https://dzackgarza.com/GOATS_2020/">GOATS
            2020</a>), organized by <a href="https://dzackgarza.com/">D. Zack Garza</a>, <a
            href="https://seblackwell.wordpress.com/">Sarah Blackwell</a>, and <a
            href="https://sites.google.com/view/terrinwarren/home">Terrin Warren</a>.
        </li>
        <li>
          <strong>Thursdays in April</strong>
          – I will attend the <a href="https://sites.google.com/umd.edu/net-covid/home">
            Network Epidemiology Online Workshop Series</a> organized by the Univ. of Maryland’s <a
            href="http://www.combine.umd.edu/" target="_blank">COMBINE</a> program and
          Vermont’s <a href="https://vermontcomplexsystems.org/" target="_blank">Complex Systems Center</a>.
        </li>
        <li>
          <strong>January 15–18</strong>
          – I am attending the <a href="http://jointmathematicsmeetings.org/meetings/national/jmm2020/2245_intro">Joint
            Math Meetings</a> in Denver, CO.
        </li>
        <li style="color: #AAAAAA;">
          <strong>June 14 – July 10</strong>
          – [Canceled in response to COVID-19 pandemic] I will attend the
          <a href="https://www.santafe.edu/engage/learn/schools/sfi-complex-systems-summer-school"
            style="color: #AAAAAA; text-decoration: underline">Complex
            Systems Summer School</a> in Santa Fe, NM.
        </li>
      </ul>
      <ul *ngIf="thisYear === '2019'">
        <li>
          <strong>July 8–14</strong>
          – I will attend the <a href="https://www.scipy2019.scipy.org">SciPy2019</a> in
          Austin, Texas.
        </li>
        <li class="indent">
          Warm thanks to the SciPy sponsors for the Financial Aid Scholarship, which will cover most of my
          expenses for the conference.
        </li>
        <li>
          <strong>June 4 & 5</strong>
          – Giving a guest lecture at <a href="http://web.ncku.edu.tw/bin/home.php?Lang=en" target="_blank">NCKU</a>,
          Taiwan.
        </li>
        <li>
          <strong>May 27–31</strong>
          – I will attend the <a href="http://vermontcomplexsystems.org/events/netsci/">NetSci2019</a> in
          Burlington, Vermont.
        </li>
        <li class="indent">
          Many thanks to the Society of Young Network Scientists that supported my travel, conference
          registration,
          and lodging!
          The Society is awesome. Follow them on Twitter (<a href="https://twitter.com/NetSciPhDs">&#64;NetSciPhDs</a>).
        </li>
        <li class="indent">
          I have no submission this year. In addition to the main conference, I will attend satellites <a
            href="http://danlarremore.com/sinm2019/">SINM</a>, <a
            href="https://sites.google.com/a/binghamton.edu/netscied2019/">NetSciEd</a>, and <a
            href="https://uzhdag.github.io/hons_web/">HONS</a>.
        </li>
        <li class="indent">
          I will attend the <a href="https://www.networkscienceinstitute.org/syns">pre-conference SYNS
            event</a>
          on Sunday, May 26th. Organized by <a href="https://twitter.com/jkbren">Brennan</a>, <a
            href="https://twitter.com/CarolinaMttssn">Carolina</a>, <a href="https://twitter.com/dinacmistry">Dina</a>,
          and <a href="https://twitter.com/Shugars">Sarah</a>.
        </li>
        <li>
          <strong>March</strong>
          - I am in the Program Committee for <a href="https://www.scipy2019.scipy.org/" target="_blank">SciPy
            2019</a> (Austin, Texas July 8-14). I review talk/poster and tutorial submissions.
        </li>
      </ul>
      <ul *ngIf="thisYear === '2018'">
        <li>
          <strong>August 13–17</strong>
          – Attending CU's <a href="https://compsocialscience.github.io/summer-institute/2018/boulder/">Summer
            Institute in Computational Social Science</a>. Organized by <a href="https://allisonmorgan.github.io/">Allie
            Morgan</a> and <a href="http://www.brianckeegan.com/">Brian Keegan</a>.
        </li>
        <li>
          <strong>July 5</strong>
          – I was selected to be the recipient of the Strauch Family Graduate Fellowship in the College of
          Engineering and Applied Science at CU Boulder!
        </li>
      </ul>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row nzJustify="start" style="min-height: 350px;">
    <div nz-col class="gutter-row" nzSpan="2">
      <h3>Links</h3>
    </div>
    <div nz-col nzSpan="22">
      <ol class="nocount">
        <li style="list-style-type: circle; margin: 0 0 0 0; cursor: pointer;" routerLink="/cllin">
          <span>A tribute to Ching-Liang Lin</span>
        </li>
        <li style="list-style-type: circle; margin: 0 0 0 0;">
          <span>
            Did you know that 80% of US-trained professors come from just 20.4% of universities?
            Check out <a href="https://twitter.com/hneutr/status/1572632655421919232" target="_blank">this work</a> from
            my colleagues.
          </span>
        </li>
        <!--        <li style="list-style-type: circle; margin: 0 0 0 0;">-->
        <!--          <a href="https://sites.dartmouth.edu/nyhan/academic-careers/" target="_blank" style="color: #000000d9">Academic-->
        <!--            career advice (compiled by Brendan Nyhan)</a>-->
        <!--        </li>-->
        <!--        <li style="list-style-type: circle; margin: 0 0 0 0;">-->
        <!--          <a href="https://twitter.com/ItaiYanai/status/1511538866985000961?s=20" target="_blank"-->
        <!--             style="color: #000000d9">How to science? (compiled by Itai Yanai)</a>-->
        <!--        </li>-->
      </ol>
    </div>
  </div>
</div>