<div nz-col nzOffset="0">
  <div nz-row nzJustify="start">
    <div nz-col nzSpan="6">
      <img src="../../assets/img/profile_new_2019.jpg" id="profile" alt="profile">
    </div>
    <div nz-col nzSpan="18">
      <p>
        I am a grad student in computer science at the
        <a href="https://www.colorado.edu/cs/" style='color: black;'>University of Colorado Boulder</a>,
        advised by <a href="{{'Daniel Larremore' | str2url}}" style='color: black;'>Dan Larremore</a>
        and <a href="{{'Joshua Grochow' | str2url}}" style='color: black;'>Josh Grochow</a>.
      </p>
      <p>
        My research interest is in <a href="{{wiki_comp_sys}}" style='color: deeppink;'>complex systems</a>.
        I use tools from
        <a href="{{wiki_sp}}" style='color: black;'>random processes</a>,
        <a href="{{wiki_stat_inf}}" style='color: black;'>statistical inference</a>,
        <a href="{{wiki_tda}}" style='color: black;'>computational topology</a>, and
        <a href="{{wiki_c}}" style='color: black;'>combinatorics</a>.
        I also develop <a href="{{wiki_a}}" style='color: black;'>algorithms</a>.
      </p>
      <p>
        <i nz-icon nzType="mail" nzTheme="outline" class="email"></i>
        <a href="mailto:tzuchi.yen@colorado.edu">tzuchi.yen@colorado.edu</a>
        <i nz-icon nzType="lock" nzTheme="outline" class="pgp-key"></i>
        <a href="https://keys.openpgp.org/search?q=tzuchi.yen%40colorado.edu"
           target="_blanks">49B1556E</a>
        &nbsp;<a routerLink="/privacy" style="font-size: small">(why?)</a>
      </p>
    </div>
  </div>
  <div style="height: 15px;"></div>
  <!-- News section -->
  <div nz-row nzJustify="start" style="height: 350px;" id="news">
    <div nz-col class="gutter-row" nzSpan="2">
      <h2>News</h2>
      <nz-radio-group [(ngModel)]="thisYear">
        <label nz-radio nzValue="2021">21</label>
        <label nz-radio nzValue="2020">20</label>
        <label nz-radio nzValue="2019">19</label>
        <label nz-radio nzValue="2018">18</label>
      </nz-radio-group>
    </div>
    <div nz-col nzSpan="22" style="overflow: auto; height: 100%; ">
      <ul *ngIf="thisYear === '2021'">
        <li>
          <strong>July 19-21</strong>
          - Attending the SIAM <a href="{{acda21}}" target="_blank">Conference on Applied and Computational Discrete
          Algorithms</a>.
        </li>
        <li>
          <strong>July 12-20</strong>
          - Attending the IEEE <a href="{{isit21}}" target="_blank">International Symposium on
          Information Theory</a>.
        </li>
        <li class="indent">
          Check out the annual <a href="http://conferences.ece.ubc.ca/nasit2021/index.html" target="_blank">North
          American School of Information Theory.</a>
        </li>
        <li>
          <strong>June 21-July 10</strong>
          – I am attending <a href="{{networks21}}">Networks 2021</a> virtually.
        </li>
        <li class="indent">
          The Society of Young Network Scientists has a pre-conference event, themed "Alternative forms of science
          communication". Check out this <a href="https://twitter.com/official_SYNS/status/1406013557808959493"
                                            target="_blank">tweet</a>.
        </li>
        <li class="indent">
          Highlight these satellites:
          <a href="https://sinm.network/" target="_blank">SINM</a>,
          <a href="https://hons-web.github.io/online/" target="_blank">HONS</a>,
          <a href="https://sites.google.com/view/toponets2021/home-page" target="_blank">TopoNets</a>, and
          <a href="https://sites.google.com/view/netscied-2021/home-page" target="_blank">NetSciEd</a>;
          for a full list, see <a href="https://networks2021.net/satellites" target="_blank">this page</a>.
        </li>
        <li class="indent">
          I am also participating a Wikipedia Edit-a-thon, organized by
          <a href="https://github.com/FranciscaOrtizRuiz" target="_blank">Francisca Ortiz</a> and <a
          href="https://scholar.google.com/citations?user=xSZwPHAAAAAJ&hl=en" target="_blank">Ana Jaramillo</a> in the
          society of <a href="https://www.networkscienceinstitute.org/wins/about" target="_blank">Women in Network
          Science (WiNS)</a>.
        </li>
        <li>
          <strong>March 31-April 2</strong>
          – Attending the <a href="https://nerccs2021.github.io/">Northeast Regional Conference on Complex
          Systems</a>.
        </li>
        <li>
          <strong>January 6–9</strong>
          – Attending the <a href="https://www.jointmathematicsmeetings.org/meetings/national/jmm2021/2247_intro">Joint
          Math Meetings</a>.
        </li>
      </ul>
      <ul *ngIf="thisYear === '2020'">

        <!--        <li style="color: #DDDDDD;">-->
        <!--          <strong>June 8–12</strong>-->
        <!--          – [Canceled in response to COVID-19 pandemic] I will attend the <a href="https://tgda.osu.edu/atmcs2020/"-->
        <!--                                                                             style="color: #DDDDDD; text-decoration: underline">ATMCS</a>-->
        <!--          (Algebraic Topology: Methods, Computation, and Science) at Ohio State University.-->
        <!--        </li>-->
        <li>
          <strong>Sep 21–25</strong>
          – I am attending the <a href="https://simons.berkeley.edu/workshops/schedule/14243">Computational Phase
          Transitions</a> workshop at the Simons Institute, via Zoom webinar.
        </li>
        <li>
          <strong>Sep 17–25</strong>
          – I will attend the <a href="https://netsci2020.netscisociety.net/">NetSci2020</a> conference remotely,
          thanks to the registration support of the NetSci2020 organizers and the Network Science Society.
        </li>
        <li>
          <strong>July 9 & 10</strong>
          - I will attend the <a href="https://ns20.cs.cornell.edu/">SIAM Workshop on Network Science 2020 (NS20)</a>
          virtually.
        </li>
        <li>
          <strong>June 15–18</strong>
          – I will attend the <a href="http://www.fields.utoronto.ca/activities/19-20/toric-TDA">Workshop on Topological
          Data Analysis</a> online, featuring two Clay Lectures by Gunnar Carlsson and Shmuel Weinberger.
        </li>
        <li>
          <strong>June 10</strong>
          – With labmates on this <a href="https://www.shutdownstem.com/">#ShutDownAcademia #ShutDownSTEM day</a>, we
          educate ourselves about anti-Black racism in academia and reflect on how our systems treat people differently.
        </li>
        <li>
          <strong>May 5</strong>
          – I will attend the <a href="https://twitter.com/masonporter/status/1251594612549906432">online
          minisymposium</a> "Topological Data Analysis and Data-Driven Modeling in Complex Systems" from the SIAM
          Conference on Mathematics of Data Science. See titles & abstracts: <a
          href="https://meetings.siam.org/sess/dsp_programsess.cfm?SESSIONCODE=67931">Part I</a> & <a
          href="https://meetings.siam.org/sess/dsp_programsess.cfm?SESSIONCODE=67932">Part II</a>.
        </li>
        <li>
          <strong>April 25</strong>
          – I am attending the "Graduate Online Anything Topology Series" (<a href="https://dzackgarza.com/GOATS_2020/">GOATS
          2020</a>), organized by <a href="https://dzackgarza.com/">D. Zack Garza</a>, <a
          href="https://seblackwell.wordpress.com/">Sarah Blackwell</a>, and <a
          href="https://sites.google.com/view/terrinwarren/home">Terrin Warren</a>.
        </li>
        <li>
          <strong>Thursdays in April</strong>
          – I will attend the <a href="https://sites.google.com/umd.edu/net-covid/home">
          Network Epidemiology Online Workshop Series</a> by the Univ. of Maryland’s <a
          href="http://www.combine.umd.edu/" target="_blank">COMBINE</a> program and
          Vermont’s <a href="https://vermontcomplexsystems.org/" target="_blank">Complex Systems Center</a> on Zoom.
        </li>
        <li>
          <strong>January 15–18</strong>
          – I am attending the <a href="http://jointmathematicsmeetings.org/meetings/national/jmm2020/2245_intro">Joint
          Math Meetings</a> in Denver, CO.
        </li>
        <li style="color: #AAAAAA;">
          <strong>June 14 – July 10</strong>
          – [Canceled in response to COVID-19 pandemic] I will attend the
          <a href="https://www.santafe.edu/engage/learn/schools/sfi-complex-systems-summer-school"
             style="color: #AAAAAA; text-decoration: underline">Complex
            Systems Summer School</a> in Santa Fe, NM.
        </li>
      </ul>
      <ul *ngIf="thisYear === '2019'">
        <li>
          <strong>July 8–14</strong>
          – I will attend the <a href="https://www.scipy2019.scipy.org">SciPy2019</a> in
          Austin, Texas.
        </li>
        <li class="indent">
          Warm thanks to the SciPy sponsors for the Financial Aid Scholarship, which will cover most of my
          expenses for the conference.
        </li>
        <li>
          <strong>June 4 & 5</strong>
          – Giving a guest lecture at <a href="http://web.ncku.edu.tw/bin/home.php?Lang=en"
                                         target="_blank">NCKU</a>, Taiwan.
        </li>
        <li>
          <strong>May 27–31</strong>
          – I will attend the <a href="http://vermontcomplexsystems.org/events/netsci/">NetSci2019</a> in
          Burlington, Vermont.
        </li>
        <li class="indent">
          Many thanks to the Society of Young Network Scientists that supported my travel, conference
          registration,
          and lodging!
          The Society is awesome. Follow them on Twitter (<a
          href="https://twitter.com/NetSciPhDs">@NetSciPhDs</a>).
        </li>
        <li class="indent">
          I have no submission this year. In addition to the main conference, I will attend satellites <a
          href="http://danlarremore.com/sinm2019/">SINM</a>, <a
          href="https://sites.google.com/a/binghamton.edu/netscied2019/">NetSciEd</a>, and <a
          href="https://uzhdag.github.io/hons_web/">HONS</a>.
        </li>
        <li class="indent">
          I will attend the <a href="https://www.networkscienceinstitute.org/syns">pre-conference SYNS
          event</a>
          on Sunday, May 26th. Organized by <a href="https://twitter.com/jkbren">Brennan</a>, <a
          href="https://twitter.com/CarolinaMttssn">Carolina</a>, <a
          href="https://twitter.com/dinacmistry">Dina</a>,
          and <a href="https://twitter.com/Shugars">Sarah</a>.
        </li>
        <li>
          <strong>March</strong>
          - I am in the Program Committee for <a href="https://www.scipy2019.scipy.org/" target="_blank">SciPy
          2019</a> (Austin, Texas July 8-14). I review talk/poster and tutorial submissions.
        </li>
      </ul>
      <ul *ngIf="thisYear === '2018'">
        <li>
          <strong>August 13–17</strong>
          – Attending CU's <a href="https://compsocialscience.github.io/summer-institute/2018/boulder/">Summer
          Institute in Computational Social Science</a>. Organized by <a
          href="https://allisonmorgan.github.io/">Allie
          Morgan</a> and <a href="http://www.brianckeegan.com/">Brian Keegan</a>.
        </li>
        <li>
          <strong>July 5</strong>
          – I was selected to be the recipient of the Strauch Family Graduate Fellowship in the College of
          Engineering and Applied Science at CU Boulder!
        </li>
      </ul>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row nzJustify="start" style="min-height: 350px; ">
    <div nz-col class="gutter-row" nzSpan="2">
      <h3>Links</h3>
    </div>
    <div nz-col nzSpan="22">
      <ol class="nocount">
        <li style="list-style-type: circle; margin: 0px 0 0 0; padding-bottom: 1em; cursor: pointer"
            routerLink="/cllin">
          <p>A tribute to Ching-Liang Lin</p>
        </li>
      </ol>
    </div>
  </div>
</div>
