/*.paragraph {*/
/*  font-style: normal;*/
/*  font-variant-ligatures: normal;*/
/*  font-variant-caps: normal;*/
/*  font-variant-numeric: normal;*/
/*  font-weight: normal;*/
/*  font-stretch: normal;*/
/*  font-size: 16px;*/
/*  line-height: 1.5;*/
/*  font-family: Roboto, sans-serif;*/
/*  color: #4d4d4d;*/
/*  background: #fff;*/
/*  height: 100%;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  margin: 0 auto 1.7em;*/
/*}*/

/*.ant-layout-content {*/
/*  background: #fff;*/
/*}*/

/*.paragraph ul {*/
/*  padding: 0 10px 0 20px;*/
/*}*/

/*.custom-image img {*/
/*  display: block;*/
/*}*/

/*nz-sider.ant-layout-sider {*/
/*  background: #fff;*/
/*}*/


#profile {
  border-radius: 8px;
  width: 100%;
}

div.polaroid {
  width: 80%;
  background-color: white;
  border-radius: 8px;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
  margin-bottom: 25px;
}

div.container {
  text-align: center;
}

nz-divider {
  width: 4px;
}

li {
  font-size: 15px;
  list-style-type: none;
  margin: 4px 0 0 0;
  text-align: justify;
  text-justify: inter-word;
}

li.indent {
  font-size: 15px;
  margin: 0 0 0 20px;
  list-style-type: circle;
}

/*[nz-icon] {*/
/*  margin-right: 6px;*/
/*  font-size: 24px;*/
/*}*/

/*nz-select {*/
/*  !*margin: 0 8px 10px 0;*!*/
/*  width: 70px;*/
/*}*/

/*#test {*/
/*    background-color: transparent!important;*/
/*    border-color: transparent!important;*/
/*    box-shadow: none!important;*/
/*}*/

