<p>Things I found from the internet that resonated with me.</p>
<div>
  <p>
    Chip Huyen
    <a href="{{ huyen }}" target="_blank">proposed three metrics</a> to measure
    personal growth. Which are (1) rate of change; (2) time to solve problems;
    and (3) number of future options. I liked them because they encouraged me to
    always try new things, but also assess old ones with a new angle.
  </p>
  <p>
    When working with teams, I tend to weigh the relative opportunities and
    risks that each functional team is willing to undertake, and
    <a href="{{ may }}" target="_blank">quoting</a> Travis May,
    <i>“stay optimally paranoid and optimistic.”</i> I try to be mindful of
    balancing these emotions in my daily decisions.
  </p>
</div>
