<!-- <h2>Connecting the sea of islands</h2>
<i>This article is dedicated to HYT. Writing in progress as of Nov 12, 2023.</i>
<br><br>
<p>
    The year of 2023, I earned my PhD degree; it is also a year that I had my first traumatic experience.
    I learned that good mental health is the ability to love and to work, at the same time.
    While I was healing toward this goal bit by bit,
    I found some interesting perspectives on "the sea of islands" as a metaphor—in psychotherapy, in politics, and in
    the computer science that I am fond of.
</p>

<h3>Taming the Vast Sea of Distress</h3>
<h3>Stances of Pacific Island States</h3>
<h3>Hard Problems are not Hard Throughout</h3> -->