<div style="text-align: justify; text-justify: inter-word;">
  <p>
    With this PGP key, you may send me encrypted emails. Please check out the following websites.
  </p>
  <div>
    <ol class="nocount">
      <li>
        <a href="{{emailselfdefense}}" target="_blank">Email self-defense</a> (Free Software Foundation)
        – An infographic (and a full guide) that explains how we can protect ourselves from surveillance by (at least)
        encrypting our emails.
      </li>
      <li>
        <a href="{{openpgp_softwares}}" target="_blank">Software</a> (OpenPGP.org)
        – Email applications / software plugins that support the OpenPGP standard.
      </li>
    </ol>
  </div>
  <p>
    More generally on protecting your digital privacy, take a look at these resources, which all update frequently.
  </p>
  <div>
    <ol class="nocount">
      <li>
        <a href="{{privacy_tools}}" target="_blank">PrivacyTools</a>
      </li>
      <li>
        <a href="{{securityplanner}}" target="_blank">Security Planner</a> (Consumer Reports Digital Lab)
      </li>
      <li>
        <a href="{{cpj_dskj}}" target="_blank">Digital Safety Kit</a> (Committee to Protect Journalists)
      </li>
      <li>
        <a href="{{ssd_eff}}" target="_blank">Surveillance Self-Defense</a> (Electronic Frontier Foundation)
      </li>
    </ol>
  </div>
</div>

