<div class="container" id="teaching">
    <h2><a routerLink="/teaching"><i nz-icon nzType="left-square" nzTheme="fill"></i></a> Network Analysis and
        Modeling</h2>
    <div>
        <span style="font-style: italic;">I am thankful to Profs. Aaron Clauset and Dan Larremore, who allow me to use
            their materials for this course.</span>
    </div>
    <div style="margin-top: 12pt;">
        <strong>CSCI 5352, Spring 2024</strong><nz-divider nzType="vertical"></nz-divider>
        <nz-tag nzColor="default"><a href="../../../assets/pdf/teaching/5352/csci5352_s24_syllabus.pdf" target="_blank"
                style="font-family: 'Cookie', cursive; font-size: 16pt;">Syllabus</a></nz-tag>
        <br>
        Tuesday and Thursday, 1100a–1215p, at ECST 121 (hybrid)
        <br>
        <span>
            Course on CU Boulder Catelog: <a href="https://catalog.colorado.edu/search/?search=CSCI+5352"
                target="_blank">CSCI
                5352</a>.
        </span>
        <br>
    </div>
    <nz-divider></nz-divider>
    <h3>Textbooks</h3>
    <p>
        <a href="https://www.amazon.com/Networks-Mark-Newman-dp-0198805098/dp/0198805098" target="_blank">Networks</a>
        by M.E.J. Newman, Second edition, Oxford University Press, 2018.
    </p>
    <nz-divider></nz-divider>
    <div>
        <h3>What we did in Spring 2024</h3>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Use <span nz-icon nzType="book"></span> to open the lecture scribbles in a new tab.
        </p>
        <nz-collapse [nzExpandIconPosition]="expandIconPosition">
            @for (week of weeks; track week;) {
            <nz-collapse-panel [nzHeader]="week.name" [nzActive]="week.active" [nzExtra]="extraTpl"
                [nzDisabled]="week.disabled" nzExpandedIcon="caret-right">
                <p style="margin:0;">
                    {{ week.content }}
                </p>
            </nz-collapse-panel>
            <ng-template #extraTpl>
                <a *ngIf="week.pdfUrl">
                    <span nz-icon nzType="book" (click)="openPDFInNewTab($event, week.pdfUrl)"></span>
                </a>
            </ng-template>
            }
    
        </nz-collapse>

    </div>




    <!-- <h4>Lecture: modern web technology</h4>
    <ul>
        <li>
            <a href="https://www.convex.dev/" target="_blank">Convex</a>: a reactive backend-as-a-service for web
            developers.
            Spotted from <a target="_blank"
                href="https://twitter.com/jamesacowling/status/1591221339549216769">here</a>.
        </li>
    </ul> -->
    <!-- <h4>Lecture: modern alternatives for the classic Linux commands</h4>
    <ul>
        <li>
            A <a href="https://github.com/ibraheemdev/modern-unix" target="_blank">Modern Unix</a> collection
        </li>
        <li>
            A <a href="https://jvns.ca/blog/2022/04/12/a-list-of-new-ish--command-line-tools/">list</a> of new(ish)
            command line tools.
        </li>
    </ul> -->
    <!-- <h4>Case study: all things open-source software</h4>
    <ul>
        <li>
            GNU GPL: <a href="https://twitter.com/tonroosendaal/status/1135229214607773696" target="_blank">Blender</a>
        </li>
        <li>
            For research software outputs, see the FAIR principles: <a
                href="https://www.nature.com/articles/s41597-022-01710-x" target="_blank">paper</a> & <a
                href="https://researchdata.springernature.com/posts/introducing-the-fair-principles-for-research-software"
                target="_blank">blog post</a>.
        </li>
        <li>
            For humanities outputs, see <a href="https://endings.uvic.ca/principles.html" target="_blank">the Endings
                Principles</a> for Digital Longevity.
        </li>
    </ul> -->
    <!-- <nz-divider></nz-divider>
    <h3>Supplemental Readings</h3>
    <p>
        TBD.
    </p>

    <span>
        Weeks 5, 6:
    </span>
    <ul>
        <li>
            V. Thibeault, A. Allard, and P. Desrosiers, <a href="https://doi.org/10.1038/s41567-023-02303-0"
                target="_blank">The Low-Rank Hypothesis of Complex Systems</a>, <i>Nature Physics</i> 1–9 (2024).
        </li>

    </ul> -->

    <nz-divider></nz-divider>
    <h3>References</h3>
    <p>

        External class website: Prof. Aaron Clauset’s <a href="https://aaronclauset.github.io/courses/5352/"
            target="_blank">webpage</a>.
    </p>
</div>