<div class="container" id="teaching">

    <h2><a routerLink="/teaching"><i nz-icon nzType="left-square" nzTheme="fill"></i></a> CSCI 5352 Network Analysis and
        Modeling</h2>
    <p>
        Spring 2024 | Tuesday and Thursday, 1100a–1215p | ECST 121 | <a href="../../../assets/pdf/teaching/5352/csci5352_s24_syllabus.pdf">Syllabus</a><br>
        Course on University Catelog: <a href="https://catalog.colorado.edu/search/?search=CSCI+5352"
            target="_blank">CSCI
            5352</a>.
    </p>
    <h3>Textbooks</h3>
    <p>
        Newman, Mark E. J. Networks. Second edition, Oxford University Press, 2018.
    </p>
    <h3>What we did in Spring 2024</h3>
    <span>
        Week 1: Fundamentals of networks
    </span>
    <ol>
        <li>
            syllabus, course logistics, and self-intro
        </li>
        <li>
            network representation, notations
        </li>
    </ol>
    <span>
        Week 2: Summary statistics
    </span>
    <ol>
        <li>
            degree, degree distribution, reciprocity, CCDF for scale-free networks
        </li>
        <li>
            clustering coefficient (△), feed-forward / feedback loops, larger motifs (⊓), positional measures (diameter,
            eccentricity), small-world property
        </li>
    </ol>
    <!-- <h4>Lecture: modern web technology</h4>
    <ul>
        <li>
            <a href="https://www.convex.dev/" target="_blank">Convex</a>: a reactive backend-as-a-service for web
            developers.
            Spotted from <a target="_blank"
                href="https://twitter.com/jamesacowling/status/1591221339549216769">here</a>.
        </li>
    </ul> -->
    <!-- <h4>Lecture: modern alternatives for the classic Linux commands</h4>
    <ul>
        <li>
            A <a href="https://github.com/ibraheemdev/modern-unix" target="_blank">Modern Unix</a> collection
        </li>
        <li>
            A <a href="https://jvns.ca/blog/2022/04/12/a-list-of-new-ish--command-line-tools/">list</a> of new(ish)
            command line tools.
        </li>
    </ul> -->
    <!-- <h4>Case study: all things open-source software</h4>
    <ul>
        <li>
            GNU GPL: <a href="https://twitter.com/tonroosendaal/status/1135229214607773696" target="_blank">Blender</a>
        </li>
        <li>
            For research software outputs, see the FAIR principles: <a
                href="https://www.nature.com/articles/s41597-022-01710-x" target="_blank">paper</a> & <a
                href="https://researchdata.springernature.com/posts/introducing-the-fair-principles-for-research-software"
                target="_blank">blog post</a>.
        </li>
        <li>
            For humanities outputs, see <a href="https://endings.uvic.ca/principles.html" target="_blank">the Endings
                Principles</a> for Digital Longevity.
        </li>
    </ul> -->
    <h3>References</h3>
    <p>

        External Class Website: Prof. Aaron Clauset's <a href="https://aaronclauset.github.io/courses/5352/"
            target="_blank">webpage</a>.
    </p>
</div>