.icon-link,
.title,
.author,
.publication {
    margin-right: 0.3em;
}


.small-icon {
    font-size: 12px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}