<div>
  <strong>Useful resources for teaching</strong>
  <br />
  <app-link-item
    *ngFor="let advice of dummyList1"
    [link]="advice.link"
    [title]="advice.title"
    [author]="advice.author"
    [publication]="advice.publication"
  ></app-link-item>
</div>
<div style="height: 20pt;"></div>
<div>
  <strong>Advice for PhD students</strong>
  <br />
  <app-link-item
    *ngFor="let advice of dummyList2"
    [link]="advice.link"
    [title]="advice.title"
    [author]="advice.author"
    [publication]="advice.publication"
  ></app-link-item>
</div>
