/* You can add global styles to this file, and also import other style files */
/*li a {*/
/*  color: black;*/
/*}*/
/* @import "~ng-zorro-antd/ng-zorro-antd.min.css"; */
html,
body {
    height: 100%;
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

div {
    font-family: 'Equity B';
    font-size: 13.5pt;
    line-height: 1.45em;
    text-align: left;
}


h2 {
    font-family: 'concourse_4_caps', sans-serif;
}

h3 {
    font-family: 'concourse_4_caps', sans-serif;
}