<div class="row">
    <h3>
      University of Colorado Boulder
      <small style="font-weight: lighter">(as an instructor)</small>
    </h3>
    <ol class="nocount">
      <li>
        <a routerLink="/teaching/5352" style="font-weight: 500">CSCI 5352</a>
        : Network Analysis and Modeling (Spring’24)
      </li>
    </ol>
    <h3>
      University of Colorado Boulder
      <small style="font-weight: lighter">(as a teaching assistant)</small>
    </h3>
    <ol class="nocount">
      <li>
        <a routerLink="/teaching/2270" style="font-weight: 500">CSCI 2270</a>
        : Data Structures (Spring’22)
      </li>
      <li>
        <a routerLink="/teaching/3308" style="font-weight: 500">CSCI 3308</a>
        : Software Development Methods and Tools (Fall’21)
      </li>
      <li>
        <a routerLink="/teaching/5822" style="font-weight: 500">CSCI 5822</a>
        : Probabilistic Models (Spring’21 & Spring’23)
      </li>
    </ol>

  </div>