<div class="container" id="publications">
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col nzSpan="8">
      <h2>Journal Articles</h2>
    </div>
    <div nz-col nzSpan="8">
      <p style="text-align: right;"><i nz-icon nzType="edit" nzTheme="fill"></i>: One-sentence abstract</p>
    </div>
  </div>
  <ul>
    <li>
      <h4>Nanoscopic substructures of raft-mimetic
        liquid-ordered membrane domains revealed by high-speed single-particle tracking.
        <nz-tag nzMode="checkable" [nzChecked]="false" (nzCheckedChange)="srep20542 = !srep20542">
          <i nz-icon nzType="edit" nzTheme="fill"></i>
        </nz-tag>
      </h4>
      Hsiao-Mei Wu, Ying-Hsiu Lin, Tzu-Chi Yen, and Chia-Lung Hsieh
      <br>
      <i>Scientific Reports</i>, <b>6</b> (20542), 2016.
      <nz-tag [nzColor]="'red'"><a href="http://www.nature.com/articles/srep20542">Paper</a>
      </nz-tag>
      <div class='abstract' *ngIf="srep20542 == true">We use high-speed interferometric scattering (iSCAT) optical
        microscopy and small gold nanoparticles as labels, recording the motions of single lipids via
        single-particle tracking (SPT), which provides the first experimental evidence of non-uniform
        molecular organization of the lipid phase, giving a new view of how rafts recruit and confine
        molecules in cell membranes.
      </div>
    <li>
      <h4>A Rhizavidin Monomer with Nearly Multimeric
        Avidin-Like Binding Stability Against Biotin Conjugates.
        <nz-tag nzMode="checkable" [nzChecked]="false" (nzCheckedChange)="anie201510885 = !anie201510885">
          <i nz-icon nzType="edit" nzTheme="fill"></i>
        </nz-tag>
      </h4>
      Jeong Min Lee, Jung A Kim, Tzu-Chi Yen, In Hwan Lee, Byungjun Ahn, Younghoon Lee, Chia-Lung Hsieh, Ho
      Min Kim, and Yongwon Jung
      <br>
      <i>Angewandte Chemie</i>, <b>128</b> (10), 2016, Pages 3454-3458.
      <nz-tag [nzColor]="'red'"><a href="http://dx.doi.org/10.1002/anie.201510885">Paper</a>
      </nz-tag>
      <div class='abstract' *ngIf="anie201510885 == true">We provide experimental
        chracterization for a monomeric avidin-like protein, with off-rates almost
        comparable to those of multimeric avidin proteins against various biotin conjugates.
      </div>
    </li>
    <li>
      <h4>Clustered Geometries Exploiting Quantum
        Coherence Effects for Efficient Energy Transfer in Light Harvesting.
        <nz-tag nzMode="checkable" [nzChecked]="false" (nzCheckedChange)="jz4011477 = !jz4011477">
          <i nz-icon nzType="edit" nzTheme="fill"></i>
        </nz-tag>
      </h4>
      Qing Ai, Tzu-Chi Yen, Bih-Yaw Jin, and Yuan-Chung Cheng
      <br>
      <i>J. Phys. Chem. Lett.</i>, <b>4</b> (15), 2013, Pages 2577–2584.
      <nz-tag [nzColor]="'red'"><a href="http://pubs.acs.org/doi/abs/10.1021/jz4011477">Paper</a>
      </nz-tag>
      <div class='abstract' *ngIf="jz4011477 == true">We study energy transfer in a linear
        light-harvesting model to reveal that dimerized geometries with strong electronic coherences within
        donor and acceptor pairs exhibit significantly improved efficiency, which is in marked contrast to
        predictions of the classical Förster theory.
      </div>
    </li>
    <li>
      <h4>Electronic Coherence
        Effects in Photosynthetic Light Harvesting.
        <nz-tag nzMode="checkable" [nzChecked]="false" (nzCheckedChange)="S1876619611000672 = !S1876619611000672">
          <i nz-icon nzType="edit" nzTheme="fill"></i>
        </nz-tag>
      </h4>
      Tzu-Chi Yen and Yuan-Chung Cheng
      <br>
      <i>Procedia Chemistry</i>, <b>3</b> (1), 2011, Pages 211-221.
      <br>
      <strong>This paper also contributed to the 22nd Solvay Conference on Chemistry at Brussels.</strong> The
      Solvay Conference is famous for its <a href="https://en.wikipedia.org/wiki/Solvay_Conference">fifth
      one</a> in October 1927 on Electrons and Photons.
      <nz-tag [nzColor]="'red'"><a href="http://www.sciencedirect.com/science/article/pii/S1876619611000672">Paper</a>
      </nz-tag>
      <div class='abstract' *ngIf="S1876619611000672 == true">We review studies on quantum coherence
        effects in the LH2 antenna complex from purple bacteria to demonstrate how quantum mechanical rules
        play important roles in the speedup of excitation energy transfer, the stabilization of electronic
        excitations, and the robustness of light harvesting in photosynthesis.
      </div>
    </li>
  </ul>
  <div>
    <h2>Conference Proceedings</h2>
  </div>
  <ul>
    <li>
      <h4>What Makes New York So Noisy? Reasoning Noise
        Pollution by Mining Multimodal Geo-Social Big Data.
        <nz-tag nzMode="checkable" [nzChecked]="false" (nzCheckedChange)="acm2809931 = !acm2809931">
          <i nz-icon nzType="edit" nzTheme="fill"></i>
        </nz-tag>
      </h4>
      Hsun-Ping Hsieh, Tzu-Chi Yen, and Cheng-Te Li
      <br>
      <i>ACM International Conference on Multimedia (MM’ 15)</i>, Brisbane, Australia, Oct. 2015.
      <br>
      IBM Grand Challenge (New York City 360 ̊ ) finalist.
      <nz-tag [nzColor]="'red'"><a
        href="https://www2.cs.uic.edu/~urbcomp2013/urbcomp2015/papers/Urban-Construction-Dynamics_Yen.pdf">Paper</a>
      </nz-tag>
      <nz-tag [nzColor]="'gold'"><a
        href="http://wiki.junipertcy.info/images/a/ae/ACMMM15-Grand_Challenge-Proposal.pdf"
        download="ACMMM15-Grand_Challenge-Proposal.pdf">Proposal</a></nz-tag>
      <nz-tag [nzColor]="'volcano'"><a href="http://wiki.junipertcy.info/images/c/c7/Research-talk-151028-acmmm.pptx">Slides</a>
      </nz-tag>
      <div class='abstract' *ngIf="acm2809931 == true">Using NYC 311 noise complaint records as the
        approximation of noise pollution for validation, we develop a joint inference and visualization
        system that integrates multimodal features, including geographical, mobility, visual, and social,
        with a graph-based learning model to infer the noise compositions of regions.
      </div>
    </li>
    <li>
      <h4>An
        Interactive Visualization System to Analyze and Predict Urban Construction Dynamics.
        <nz-tag nzMode="checkable" [nzChecked]="false" (nzCheckedChange)="urbcomp2015 = !urbcomp2015">
          <i nz-icon nzType="edit" nzTheme="fill"></i>
        </nz-tag>
      </h4>
      Tzu-Chi Yen, Tzu-Yun Lin, Ching-Yuan Yeh, Hsun-Ping Hsieh, and Cheng-Te Li
      <br>
      <i>ACM SIGKDD International Workshop on Urban Computing (UrbComp’ 15)</i>, in conjunction with KDD 2015,
      Sydney, Australia, Aug. 2015.
      <nz-tag [nzColor]="'red'"><a
        href="https://www2.cs.uic.edu/~urbcomp2013/urbcomp2015/papers/Urban-Construction-Dynamics_Yen.pdf">Paper</a>
      </nz-tag>
      <nz-tag [nzColor]="'volcano'"><a href="http://wiki.junipertcy.info/images/d/d1/Research-talk-150810-urbcomp.pdf">Slides</a>
      </nz-tag>
      <div class='abstract' *ngIf="urbcomp2015 == true">We develop an analytic and visualization
        system for citizens and government agencies to understand, track, and predict the construction
        dynamics in an urban area.
      </div>
    </li>
  </ul>
  <div>
    <h2>Translated Book</h2>
  </div>

  <ul>
    <li>
      <h4>Network Literacy: Essential Concepts and Core Ideas.</h4>
      Tzu-Chi Yen and Cheng-Te Li
      <br>
      We provide translation in Traditional Chinese (Mandarin) as a joint work with the <a
      href="https://netscied.tw/">Network Science Education (NetSciEd) Initiative in Taiwan</a>.
      <nz-tag [nzColor]="'magenta'"><a href="http://wiki.junipertcy.info/images/c/ce/Network_Literacy_tw_Mandarin.pdf">Booklet
        Download</a></nz-tag>
      <nz-tag [nzColor]="'purple'"><a href="http://wiki.junipertcy.info/images/f/fb/NetSci2016_notes_korean.pdf">NetSci2016
        참가기</a></nz-tag>
    </li>
  </ul>
  <div>
    <h2>Contributed Posters</h2>
  </div>
  <ul>
    <li>
      <h4>Estimating the Number of Communities in a Bipartite Network.</h4>
      Tzu-Chi Yen and Daniel B. Larremore
      <br>
      <i>NetSci2017</i>, Indianapolis, Indiana, June, 2017.
      <nz-tag [nzColor]="'geekblue'"><a href="http://netsci2017.net/">Website</a>
      </nz-tag>
      <nz-tag [nzColor]="'cyan'"><a href="http://wiki.junipertcy.info/images/c/c4/Research-poster-170620-SINM.pdf">Poster</a>
      </nz-tag>
    </li>
    <li>
      <h4>Understanding Online Survey Data as a Bipartite Network: A Case Study on pol.is.</h4>
      Tzu-Chi Yen
      <br>
      <i>Sunbelt 2017</i>, Beijing, China, May, 2017.
      <nz-tag [nzColor]="'geekblue'"><a href="http://insna.org/sunbelt2017/">Website</a>
      </nz-tag>
    </li>
    <li>
      <h4>The First Social Customer Relationship Management System to Analyze Large On-line Social Networks.</h4>
      Tzu-Chi Yen, Xiaodong Liu, and Wuyang (Tony) Zhao
      <br>
      <i>NetSci2016</i>, Seoul, South Korea, May, 2016.
      <nz-tag [nzColor]="'geekblue'"><a href="http://netsci2016.net/">Website</a>
      </nz-tag>
      <nz-tag [nzColor]="'cyan'"><a href="https://mega.nz/#!Rk00VZaa!VlHQLBpje_QRpBjv5hR0IFm5BC0pV-Z1fufp4eguHj4">Poster
        (size: 123 MB)</a>
      </nz-tag>
    </li>
    <li>
      <h4>Dissecting Urban Noises from Heterogeneous Geo-Social Media and Sensor Data.</h4>
      Hsun-Ping Hsieh, Tzu-Chi Yen, Rui Yan, and Cheng-Te Li
      <br>
      <i>ACM International Conference on Multimedia (MM'15)</i>, Brisbane, Australia, Oct. 2015.
      <nz-tag [nzColor]="'geekblue'"><a href="http://www.acmmm.org/2015/">Website</a>
      </nz-tag>
      <nz-tag [nzColor]="'cyan'"><a href="http://wiki.junipertcy.info/images/e/e1/Research-poster-151028-acmmm.pdf">Poster</a>
      </nz-tag>
    </li>
  </ul>
</div>
