<div style="text-align: justify; text-justify: inter-word;">
  <h2>
    Remembering Ching-Liang Lin (1931–2019)
  </h2>
  <p>
    Ching-Liang lectured my General Physics in 2007 at the National Taiwan University, when I was a freshman in college.
    She was incredibly generous with her time and attention, and was definitely a night owl.
    Occasionally when I saw lights from her office down the building, I liked to drop by and chat with her.
    As a friend and teacher, she influenced my views on physics and science education.
  </p>
  <p>
    More of her views on education will be posted here later. (These notes are in Taiwan, but it's hard to travel
    during the pandemic.)
  </p>
  <p>
    See her page at <a href="{{cllin_wiki}}">Wikipedia</a> and <a href="{{cllin_wiki_tw}}">維基百科</a>.
  </p>
</div>

<div>
  <img
    nz-image
    width="300px"
    nzSrc="{{cllin_img}}"
    style="border:5px double gray; cursor: pointer"
    alt="Ching-Liang and me"
  />
  <br>
  <span>
    In Ching-Liang's office, Dec. 2014.
  </span>
</div>
