<div style="text-align: justify; text-justify: inter-word;">
  <h2>
    Remembering Ching-Liang Lin (1931–2019)
  </h2>
  <p>
    Ching-Liang lectured my General Physics in 2007-08 at the National Taiwan University.
    She was incredibly generous with her time and was definitely a night owl. I liked to drop by her office for a
    chat, seeing lights from down the building. As a friend and a teacher, she influenced my views on physics and
    science education.
  </p>
  <p>
    More of her views on education will be posted here later. (These notes are in Taiwan, but it's hard to travel
    during the pandemic.)
  </p>
  <p>
    See her page at <a href="{{cllin_wiki}}">Wikipedia</a> and <a href="{{cllin_wiki_tw}}">維基百科</a>.
  </p>
</div>

<div nz-row>
  <div nz-col nzSpan="8">
    <div>
      <img
        nz-image
        width="300px"
        nzSrc="{{cllin_img}}"
        style="border:5px double gray; cursor: pointer"
        alt="Ching-Liang and me"
      />
      <br>
      <span>
    In Ching-Liang's office, Dec. 2014.
  </span>
    </div>
  </div>
<!--  <div nz-col nzSpan="8">-->
<!--    <div>-->
<!--      <img-->
<!--        nz-image-->
<!--        width="200px"-->
<!--        nzSrc="{{cllin_notes_1}}"-->
<!--        style="border:5px double gray; cursor: pointer"-->
<!--        alt="Ching-Liang and me"-->
<!--      />-->
<!--      <br>-->
<!--      <span>-->
<!--    Miscellaneous note 1.-->
<!--  </span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div nz-col nzSpan="8">-->
<!--    <div>-->
<!--      <img-->
<!--        nz-image-->
<!--        width="200px"-->
<!--        nzSrc="{{cllin_notes_2}}"-->
<!--        style="border:5px double gray; cursor: pointer"-->
<!--        alt="Ching-Liang and me"-->
<!--      />-->
<!--      <br>-->
<!--      <span>-->
<!--    Miscellaneous note 2.-->
<!--  </span>-->
<!--    </div>-->
<!--  </div>-->
</div>







