<div style="text-align: justify; text-justify: inter-word;">
  <h2>
    Remembering Ching-Liang Lin (1931–2019)
  </h2>
  <p>
    Ching-Liang lectured my General Physics in 2007-08 at the National Taiwan University (NTU).
    She was incredibly generous with her time and was definitely a night owl. At times when seeing lights from down
    her office, I liked to visit her for a chat. As a friend and a teacher, she influenced my views on physics
    and on science education.
  </p>
  <p>
    Ching-Liang's memorial ceremony was held on Apr 30, 2022 in the Dept. of Physics, NTU.
    <br>
    [<a href="https://www.phys.ntu.edu.tw/Ching-Liang.html" target="_blank">Press release</a>] [<a
    href="https://drive.google.com/drive/folders/1oFaJHAjvGvfd3uJ3vahuwIdojIU9iTL0" target="_blank">Event records</a>]
  </p>
  <p>
    See her page at <a href="{{cllin_wiki}}">Wikipedia</a> and <a href="{{cllin_wiki_tw}}">維基百科</a>.
  </p>
</div>
<br>
<div nz-row>
    <div nz-col nzSpan="12">
    <div>
      <img
        nz-image
        width="300px"
        nzSrc="{{cllin_img}}"
        style="border:5px double gray; cursor: pointer"
        alt="Ching-Liang and me"
      />
      <br>
      <span>
    In Ching-Liang's office, Dec. 2014.
  </span>
    </div>
  </div>
  <div nz-col nzSpan="4">
    <div>
      <img
        nz-image
        width="100px"
        nzSrc="{{cllin_notes_1}}"
        style="border:5px double gray; cursor: pointer"
        alt="Misc. note 1"
      />
      <br>
      <span>
    Misc. note 1.
  </span>
    </div>
  </div>
  <div nz-col nzSpan="4">
    <div>
      <img
        nz-image
        width="100px"
        nzSrc="{{cllin_notes_2}}"
        style="border:5px double gray; cursor: pointer"
        alt="Misc. note 2"
      />
      <br>
      <span>
    Misc. note 2.
  </span>
    </div>
  </div>


  <div nz-col nzSpan="4">
    <div>
      <img
        nz-image
        width="100px"
        nzSrc="{{cllin_memoir}}"
        style="border:5px double gray; cursor: pointer"
        alt="Ching-Liang's memoir, published Apr. 2022"
      />
      <br>
      <span>
    <a href="https://www.books.com.tw/products/0010923059" target="_blank">CLL's memoir</a>.
  </span>
    </div>
  </div>
</div>
